<div class="row pt-5 pb-5 bg-white" id="view_all_btn">
    <div class="col-12 d-flex justify-content-center">
        <a href="<%= DASHBOARD %>" id="viewAllDetailsBtn" class="btn btn-custom-primary text-white px-4" style="padding:10px;border-radius:20px;min-width:240px;max-width:240px;min-height:40px">
            <%= __('VIEW ALL DETAILS') %>
        </a>
    </div>
</div>