<div class="col-lg-3 col-md-6 col-8 text-center">
    <div class="mb-3">
        <span><%- __('Help your language achieve it’s goal of <span id="language-hour-goal"></span> hrs. We know you can do more!') %></span>
    </div>
    <a href="<%= url %> " class="btn btn-primary btn-lg h6 w-100">
        <%= __(ButtonText) %>
    </a>
</div>