<div class="web-view">
    <h4 class="my-3 font-weight-normal chart-badge-header" id="languageNotInTopWeb">
        <%= __(`Participate to see ${language} in top 3`) %>
    </h4>
    <h4 class="my-3 font-weight-normal d-none chart-badge-header" id="languageInTopWeb">
        <%= __(`Participate to keep ${language} in top 3`) %>
    </h4>
</div>
<div class="row m-0 text-center d-none px-3 px-lg-0 px-md-0" id="showAfterBadge">
    <h5 class="w-100 font-family-Rowdies-light">Your Badge</h5>
    <div class="col-12 px-0" style="background-color:rgba(247,204,86,.2);border-radius:20px;margin-top:4px;padding:12px 0">
       <img id="thankyou-last-badge" class="w-100" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="95" height="120">
    </div>
    <h6 class="w-100 mt-2 pt-1 mb-1 mb-lg-2 mb-md-2 font-family-Rowdies-light">Your are a <span class="text-orange" id="last-bagde-earned"></span></h6>
</div>
<div class="mobile-view pt-4">
    <h4 class="h4 mt-0 mb-3 mb-lg-3 mb-md-3 mt-lg-3 mt-md-3 font-weight-normal text-center px-2 px-lg-0 px-md-0" id="languageNotInTopMob">
        <%= __(`Participate to see ${language} in top 3`) %>
    </h4>
    <h4 class="h4 mt-0 mb-3 mb-lg-3 mb-md-3 mt-lg-3 mt-md-3 font-weight-normal text-center d-none px-2 px-lg-0 px-md-0" id="languageInTopMob">
        <%= __(`Participate to keep ${language} in top 3`) %>
    </h4>
</div>
