<h1 class="display-5 font-wt-900 site-blue text-center thankyou-page-heading d-none">
    <%= __(`Contribute for your ${text}!`) %>
</h1>
<h1 class="display-5 font-wt-900 site-blue text-center user-contribution-msg d-none">
    <%= __(`You ${text1} <contribution-count> ${text2} for your ${text}!`)%>
</h1>
<h1 class="display-5 font-wt-900 site-blue text-center new-badge-msg d-none">
    <%= __('Congratulations on winning a new badge!')%>
</h1>