<h1 class="display-5 font-wt-900 site-blue thankyou-page-heading">
    <%= __('Contribute for your language!') %>
</h1>
<h1 class="display-5 font-wt-900 site-blue user-contribution-msg d-none">
    You validated <span id="user-contribution" class="text-primary">2</span> sentences for your language!
</h1>
<h1 class="display-5 font-wt-900 site-blue new-badge-msg d-none">
    <%= __('Congratulations on winning a new badge!')%>
</h1>