<div class="web-view">
    <h4 class="my-3 font-weight-normal" id="languageNotInTopWeb">
        <%= __(`Participate to see ${language} in top 3`) %>
    </h4>
    <h4 class="my-3 font-weight-normal d-none" id="languageInTopWeb">
        <%= __(`Participate to keep ${language} in top 3`) %>
    </h4>
</div>
<div class="mobile-view">
    <h4 class="h4 my-3 font-weight-normal text-center" id="languageNotInTopMob">
        <%= __(`Participate to see ${language} in top 3`) %>
    </h4>
    <h4 class="h4 my-3 font-weight-normal text-center d-none" id="languageInTopMob">
        <%= __(`Participate to keep ${language} in top 3`) %>
    </h4>
</div>