<div class="test-mic-speaker pr-4 pr-md-2 pr-lg-2 px-md-0 px-lg-0 mr-lg-2" id="test-mic-speakers">
    <button class="w-100 btn align-items-center d-flex justify-content-center" id="test-mic-speakers-button">
        <img src="../img/mic.svg" style="border-right:1px solid #dbdbdb;padding-right:6px;margin-right:8px">
        <img src="../img/speaker.svg" class="pr-10">
        <span class="d-xs-none d-block"> <%= __('Test your Microphone and Speakers') %></span>
        <span class="d-xs-block d-none"> <%= __('Test') %> </span>
    </button>
</div>