<div class="report-btn-container mr-3">
    <button class="btn" id="report_btn" type="button">
        <img src="../img/report.svg" class="pr-0 pr-md-2 pr-lg-2">
        <span class="d-xs-none d-inherit"> <%= __('Report') %></span>
    </button>
</div>