body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  * {
    box-sizing: border-box;
  }
  html {
    font-size: 10px;
  }
  .display-5 {
    font-size: 2rem;
  }
  @media (min-width: 321px) {
    html {
      font-size: 12px;
    }
    .display-5 {
      font-size: 2.2rem;
    }
  }
  @media (min-width: 448px) {
    html {
      font-size: 13px;
    }
    .display-5 {
      font-size: 2.5rem;
    }
  }
  @media (min-width: 576px) {
    html {
      font-size: 14px;
    }
  }
  @media (min-width: 672px) {
  
  }
  @media (min-width: 768px) {
  
  }
  @media (min-width: 992px) {
    html {
      font-size: 15px;
    }
    .recording-container {
      min-height: 250px;
    }
    .prompt{
      min-height: 120px;
    }
  }
  @media (min-width: 1200px) {
    html {
      font-size: 16px;
    }
    .display-5 {
      font-size: 2.8rem;
    }
  }
  @media (min-width: 1300px) {
    .display-5 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1400px) {
    html {
      font-size: 17px;
    }
  }
  .pb-6 {
    padding-bottom: 6rem;
  }
  .material-icons.md-48 {
    font-size: 2.5rem;
  }
  .material-icons.blue {
    color: #007bff;
  }
  
  @-webkit-keyframes woong {
    0% {
      -webkit-trasform: scale(1.2);
    }
    50% {
      -webkit-transform: scale(1.8);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(2.4);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes woong-2 {
    0% {
      -webkit-transform: scale(1.2);
      opacity: 0.6;
    }
    50% {
      -webkit-transform: scale(1.6);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(2);
      opacity: 0;
    }
  }
  canvas#visualizer {
    width: 100%;
    border: 1px solid white;
    height: 120px;
  }
  audio {
    width: 80%;
  }
  .border-3 {
    border: 3px solid #007bff;
  }
  .font-wt-900 {
    font-weight: 900;
  }
  .h-1r {
    height: 1rem;
  }
  .point-none {
    pointer-events: none;
  }
  .outline-0 {
    outline: 0;
    }
  /* loader */
  .overlay__content {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .spinner {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    border-width: 12px;
    border-color: #007bff;
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  /* loader end */
  
  .test-mic-speakers-container {
    padding: 1rem 0 1rem;
    display: flex;
    justify-content: flex-end;
  }
  .test-mic-speaker {
    padding: 0 3rem;
    min-width: fit-content;
  }
  .test-mic-speaker button {
    border: 1px solid #959595;
    color: #959595;
  }
  .test-mic-speaker svg {
    margin-right: 5px;
    margin-bottom: 2px;
  }
  .test-mic-speakers-details {
    background-color: #F8F9FA;
    padding: 1rem 1rem 0.5rem;
  }
  .test-mic-speakers-details p {
    color: #959595;
    font-size: 0.85rem;
    margin-bottom: 0;
  }
  .test-btn {
    font-size: 14px;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #959595;
    border-radius: 4px;
  }
  .test-btn svg {
    margin-right: 8px;
  }
  .test-mic-close {
    display: flex;
    float: right;
    background: none;
    border: none;
  }
  .test-mic-close::after {
    clear: both;
  }
  .test-canvas {
    border: 1px solid #959595;
    border-radius: 4px;
    height: 15px;
  }
  .ambient-noise {
    font-size: 14px;
    color: #959595;
    padding-top: 8px;
  }
  .ambient-noise svg {
    vertical-align: text-bottom;
    margin-right: 5px;
  }
  
  .validation-instruction {
    background-color: #343A40;
    border-radius: 4px;
    height: 130px;
    padding: 20px;
  }
  
  .quick-tips-container {
    background-color: rgb(149 149 149 / 20%);
    border-radius: 4px;
    font-size: 14px;
    width: 120px;
    text-align: center;
  }
  
  .quick-tips-text {
    color: #F7F7F7;
    margin-top: 10px;
  }
  
  .instruction-box {
    color: #fff;
    width: 130px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .instruction-box:not(.first)::before {
    content: '';
    width: 100%;
    height: 2px;
    border: 1px dashed #676b6e;
    position: absolute;
    right: 90%;
    top: 22px;
    z-index: 1;
  }
  
  .instruction-box:not(.last)::after {
    content: '';
    width: 100%;
    height: 2px;
    border: 1px dashed #676b6e;
    position: absolute;
    left: 90%;
    top: 22px;
    z-index: 1;
  }
  
  .instruction-icon {
    background: rgba(196, 196, 196, 0.2);
    height: 54px;
    width: 54px;
    padding: 12px;
  }
  
  .instruction-icon-border {
    border: 3px solid rgba(196,196,196, .2);
  }
  
  .close-btn {
    color: #F7F7F7;
    font-size: 34px;
    position: absolute;
    top: 0;
    right: 1rem;
  }
  
  @media screen and (max-width: 767px) {
    #content-wrapper {
      padding: 0;
    }
    .validation-instruction {
      height: auto;
      flex-direction: column;
      padding: 8px;
    }
    .quick-tips-container {
      flex-direction: row !important;
      padding: 8px;
      width: 150px;
    }
    .instructions {
      width: 100%;
      flex-wrap: wrap;
      margin-top: 16px;
    }
    .instruction-box {
      width: 95px;
    }
    .instruction-box:not(.first)::before{
      width: 0%;
    }
  
    .instruction-box:not(.last)::after {
      width: 35%;
      top: 27px;
    }
  
    .third::after {
      width: 0% !important;
    }
  
    .fourth {
      margin-top: 25px;
      margin-bottom: 16px;
    }
  
    .last {
      width: 140px;
      margin-top: 25px;
      margin-bottom: 16px;
    }
  
    .fourth::after {
      width: 80% !important;
      top: 27px !important;
      left: 100% !important;
    }
    .quick-tips-text {
      margin-top: 0 !important;
      margin-left: 8px;
    }
    .xs-p-16 {
      padding: 16px;
    }
   }
  
   @media screen and (min-width: 360px) and (max-width: 375px) {
    .instruction-box {
      width: 100px;
    }
   }
   
   @media screen and (min-width: 376px) and (max-width: 599px) {
     .instruction-box {
       width: 110px;
      }
    }
  
    @media screen and (min-width: 599px) and (max-width: 768px) {
     .instruction-box {
       width: 195px;
     }
    }
  
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .instruction-box:not(.first)::before, .instruction-box:not(.last)::after  {
      width: 35%;
      top: 24px;
    }
    .only-display {
      display: none;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1280px) {
    .instruction-box:not(.first)::before, .instruction-box:not(.last)::after  {
      width: 65%;
      top: 24px;
    }
    .ambient-noise {
      font-size: 12px;
      padding-right: 0;
    }
  }
  
  @media (max-width: 767px) {
    .test-mic-speaker {
      padding: 0;
    }
    .test-mic-speakers-container {
      justify-content: center;
      padding: 1rem 0;
    }
    .test-mic-heading {
      display: none;
    }
    .noise-container {
      text-align: center;
    }
  
    .xs-radio-label {
      margin-top: 2px;
      margin-left: 2px;
    }
  
    .record-btn-container {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
    
    .only-display {
      display: none;
    }
  }
  
  