<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/common/carousel.css">

<div class="mt-5" style="background:#fff;max-width:1200px;margin:auto;border-radius:32px">
    <div style="background-image:url(../../img/NEW-WAVE.svg);max-width:1200px;min-height:400px;background-repeat:no-repeat;margin:auto;border-radius:32px;box-shadow:0 4px 12px rgb(0 123 255 / 20%);background-position-y:center">
        <div class="container-fluid">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                <ul class="nav nav-tabs border-0 mb-3">
                    <div class="row m-0 w-100">
                        <div class="col-3">
                            <li class="nav-item" data-target="#carouselExampleIndicators" data-slide-to="0">
                                <a class="nav-link active" href="#">Suno India</a>
                            </li>
                        </div>
                        <div class="col-3">
                            <li class="nav-item" data-target="#carouselExampleIndicators" data-slide-to="1">
                                <a class="nav-link" href="#">Bolo India</a>
                            </li>
                        </div>
                        <div class="col-3">
                            <li class="nav-item" data-target="#carouselExampleIndicators" data-slide-to="2">
                                <a class="nav-link" href="#">Likho India</a>
                            </li>
                        </div>
                        <div class="col-3">
                            <li class="nav-item" data-target="#carouselExampleIndicators" data-slide-to="3">
                                <a class="nav-link" href="#">Dekho India</a>
                            </li>
                        </div>
                    </div>
                </ul>
                <div id="platform_inner" class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row py-5 px-4 m-0">
                            <div class="col-lg-4 p-0">
                                <div class="text-left">
                                    <h2>Suno India</h2>
                                    <p class="label-text mb-4">Help your language by transcribing audio into text</p>
                                    <button class="btn btn-custom-primary rounded-pill mt-5" style="height:48px"><a class="text-decoration-none text-light" href="./sunoIndia/home.html"><%= __('Start Participating')%></a></button>
                                </div>
                            </div>
                            <div class="col-lg-8 p-0">
                                <div class="row m-0">
                                    <div class="col-6 pl-5">
                                        <div class="suno-cont-image m-auto">
                                            <img src="../../img/say.svg" height="130" width="130">
                                        </div>
                                        <p class="image-text">Contribute by typing what you hear on audio</p>
                                    </div>
                                    <div class="col-6">
                                        <div class="suno-val-image m-auto">
                                        <img src="../../img/listen.svg" height="130" width="130">
                                        </div>
                                        <p class="image-text">Validate the texts transcribed by others</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row py-5 px-4 m-0">
                            <div class="col-lg-4 p-0">
                                <div class="text-left">
                                    <h2>Bolo India</h2>
                                    <p class="label-text mb-4">Help your language by donating your voice</p>
                                    <button class="btn btn-custom-primary rounded-pill mt-5" style="height:48px"> <a class="text-decoration-none text-light" href="./boloIndia/home.html"><%= __('Start Participating')%></a></button>
                                </div>
                            </div>
                            <div class="col-lg-8 p-0">
                                <div class="row m-0">
                                    <div class="col-6 pl-5">
                                        <div class="suno-cont-image m-auto">
                                            <img src="../../img/say.svg" height="130" width="130">
                                        </div>
                                        <p class="image-text">Contribute your voice by recording the sentence</p>
                                    </div>
                                    <div class="col-6">
                                        <div class="suno-val-image m-auto">
                                            <img src="../../img/validate.svg" height="130" width="130">
                                        </div>
                                        <p class="image-text">Validate the audios recorded by others</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row py-5 px-4 m-0">
                            <div class="col-lg-4 p-0">
                                <div class="text-left">
                                    <h2>Likho India</h2>
                                    <p class="label-text mb-4">Help your language by translating text</p>
                                    <button class="btn btn-custom-primary rounded-pill mt-5" style="height:48px"> <a class="text-decoration-none text-light" href="./likhoIndia/home.html"><%= __('Start Participating')%></a></button>
                                </div>
                            </div>
                            <div class="col-lg-8 p-0">
                                <div class="row m-0">
                                    <div class="col-6 pl-5">
                                        <div class="suno-cont-image m-auto">
                                            <img src="../../img/translate.svg" height="130" width="130">
                                        </div>
                                        <p class="image-text">Contribute by translating the prompted text in your language</p>
                                    </div>
                                    <div class="col-6">
                                        <div class="suno-val-image m-auto">
                                            <img src="../../img/validate.svg" height="130" width="130">
                                        </div>
                                        <p class="image-text">Validate the translations contributed by others</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row py-5 px-4 m-0">
                            <div class="col-lg-4 p-0">
                                <div class="text-left">
                                    <h2>Dekho India</h2>
                                    <p class="label-text mb-4">Help your language by labelling images</p>
                                    <button class="btn btn-custom-primary rounded-pill mt-5" style="height:48px"> <a class="text-decoration-none text-light" href="./dekhoIndia/home.html"><%= __('Start Participating')%></a></button>
                                </div>
                            </div>
                            <div class="col-lg-8 p-0">
                                <div class="row m-0">
                                    <div class="col-6 pl-5">
                                        <div class="suno-cont-image m-auto">
                                            <img src="../../img/look.svg" height="130" width="130">
                                        </div>
                                        <p class="image-text">Contribute by labelling the image</p>
                                    </div>
                                    <div class="col-6">
                                        <div class="suno-val-image m-auto">
                                            <img src="../../img/validate.svg" height="130" width="130">
                                        </div>
                                        <p class="image-text">Validate the images labelled by others</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../js/common/carousel.js"></script>