<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/common/carousel.css">

<div id="platform_section" class="mt-5">
    <div class="platform_card">
        <div class="container-fluid">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" data-target="#carouselExampleIndicators" data-slide-to="0">
                            <a class="nav-link" href="#">Dekho</a>
                        </li>
                        <li class="nav-item" data-target="#carouselExampleIndicators" data-slide-to="1">
                            <a class="nav-link" href="#">Suno</a>
                        </li>
                        <li class="nav-item" data-target="#carouselExampleIndicators" data-slide-to="2">
                            <a class="nav-link" href="#">Likho</a>
                        </li>
                        <li class="nav-item" data-target="#carouselExampleIndicators" data-slide-to="3">
                            <a class="nav-link" href="#">Bolo</a>
                        </li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row p-5">
                                <div class="px-5 text-justify col-4">
                                    <h1>DekhoIndia</h1>
                                    <p>Help your language by transcribing audio into text</p>
                                    <button class="rounded-pill"><a class="text-decoration-none" style="width:240px;height:48px;background:#007bff;border-radius:24px" href="./sunoIndia/home.html"><%= __('Start participating')%></a></button>
                                </div>
                                <div class="col-lg-4 d-flex flex-row">
                                    <div>
                                        <div style="border-radius:50%;background-color:#42b2c6;height:130px;width:130px">
                                            <img src="../../img/say.svg">
                                        </div>
                                        <p>Contribute by typing what you hear on audio</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 d-flex flex-row">
                                    <div>
                                        <div style="border-radius:50%;background-color:#007bff;height:130px;width:130px">
                                            <img src="../../img/listen.svg">
                                        </div>

                                        <p>Validate the texts transcribed by others</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row p-5">
                                <div class="px-5 text-justify">
                                    <h1>SunoIndia</h1>
                                    <p>Help your language by transcribing audio into text</p>
                                </div>
                                <div class="col-lg-8 d-flex flex-row">
                                    <div>
                                        <div style="border-radius:50%;background-color:green;height:130px;width:130px">
                                            <img src="../../img/say.svg">
                                        </div>
                                        <p>Contribute by typing what you hear on audio</p>
                                    </div>
                                    <div>
                                        <div style="border-radius:50%;background-color:green;height:130px;width:130px">
                                            <img src="../../img/listen.svg">
                                        </div>

                                        <p>Validate the texts transcribed by others</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row p-5">
                                <div class="px-5 text-justify">
                                    <h1>BoloIndia</h1>
                                    <p>Help your language by transcribing audio into text</p>
                                </div>
                                <div class="col-lg-8 d-flex flex-row">
                                    <div>
                                        <div style="border-radius:50%;background-color:green;height:130px;width:130px">
                                            <img src="../../img/say.svg">
                                        </div>
                                        <p>Contribute by typing what you hear on audio</p>
                                    </div>
                                    <div>
                                        <div style="border-radius:50%;background-color:green;height:130px;width:130px">
                                            <img src="../../img/listen.svg">
                                        </div>

                                        <p>Validate the texts transcribed by others</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row p-5">
                                <div class="px-5 text-justify">
                                    <h1>LikhoIndia</h1>
                                    <p>Help your language by transcribing audio into text</p>
                                </div>
                                <div class="col-lg-8 d-flex flex-row">
                                    <div>
                                        <div style="border-radius:50%;background-color:green;height:130px;width:130px">
                                            <img src="../../img/say.svg">
                                        </div>
                                        <p>Contribute by typing what you hear on audio</p>
                                    </div>
                                    <div>
                                        <div style="border-radius:50%;background-color:green;height:130px;width:130px">
                                            <img src="../../img/listen.svg">
                                        </div>

                                        <p>Validate the texts transcribed by others</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>



    </div>
</div>

<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
