<div class="modal fade" id="content-language" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content p-4 border-primary border-2">
            <div class="modal-header d-block border-0"><h6
                        class="modal-title text-cente"><%= __('Select Your Preferred Language') %></h6></div>
            <div class="modal-body">
                <div class="row justify-content-centerd-flex flex-row-wrap text-primary cursor-pointer"><a id="bangla"
                                                                                                           class="p-2"
                                                                                                           href="/changeLocale/en">বাংলা</a>
                    <a id="gujrati" class="p-2" href="/changeLocale/gu">ગુજરાતી</a> <a id="hindi" class="p-2"
                                                                                       href="/changeLocale/hi">हिन्दी</a>
                    <a id="gujrati" class="p-2" href="/changeLocale/en">ಕನ್ನಡ</a> <a id="gujrati" class="p-2"
                                                                                     href="/changeLocale/en">മലയാളം</a>
                    <a id="marathi" class="p-2" href="/changeLocale/mr">मराठी</a> <a id="gujrati" class="p-2"
                                                                                     href="/changeLocale/en">తెలుగు</a>
                    <a id="gujrati" class="p-2" href="/changeLocale/en">தமிழ்</a> <a id="english" class="p-2"
                                                                                     href="/changeLocale/en">English</a>
                </div>
            </div>
        </div>
    </div>
</div>