<div class="row mt-5">
    <div class="col-lg-8 offset-lg-2 border border-primary p-4-5 text-center overflow-hidden contribuion-info">
        <div class="champion-ribbon">
            <span><%= __('You are a champion') %></span>
        </div>
        <h4 class="mb-3 thank-you-title"><%= __('WooHoo!! You took the first important step') %></h4>
        <p><span id="user-contribution" class="text-primary">5</span> <%= __('recordings contributed') %></p>
        <div class="mt-5 text-center">
            <%= __('Share it with your friends and family') %>
        </div>
        <div class="row justify-content-center my-2">
            <div class="col-12 text-center bg-white">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://boloindia.nplt.in/" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                    <img src="../img/fb-icon.svg" width="24px" alt="Share on Facebook">
                </a><span>&sdot;</span>
                <a id="linkedin_share" href="https://www.linkedin.com/shareArticle?mini=true&url=https://boloindia.nplt.in/&title=I've contributed towards building open language repository for India on https://boloindia.nplt.in You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications.&summary=I've contributed towards building open language repository for India on https://boloindia.nplt.in You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications. Do your bit and empower the language?/&source=" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                    <img src="../img/linkedin-icon.svg" width="24px" alt="Share on LinkedIn">
                </a><span>&sdot;</span>
                <a id="twitter_share" href="https://twitter.com/intent/tweet?text=I've contributed towards building open language repository for India on https://boloindia.nplt.in You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications. Do your bit and empower the language?" target="_blank" rel="noopener noreferrer">
                    <img src="../img/twitter-icon.svg" width="24px" alt="Share on Twitter">
                </a><span>&sdot;</span>
                <a id="whatsapp_share" href="https://api.whatsapp.com/send?text=I've contributed towards building open language repository for India on https://boloindia.nplt.in You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications. Do your bit and empower the language?" target="_blank" rel="noopener noreferrer">
                    <img src="../img/whatsapp.svg" width="32px" alt="Share on Whatsapp">
                </a>
            </div>
        </div>
    </div>
</div>