<div class="modal fade" id="validator-instructions-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog mw-100 mt-0" role="document">
        <div class="modal-content">
            <div class="container-fluid bg-light" id="recording-instructions">
                <div class="text-center pb-5 pt-5">
                    <p class="display-5 font-wt-900 site-blue"><%= __('Validating Instructions') %></p>
                </div>
                <div class="row pb-3 justify-content-center">
                    <div class="col-lg-2 col-sm-4 col-6 mb-3 text-center"><i
                            class="material-icons p-4 rounded-circle md-48 text-primary border-3">settings_voice</i>
                        <p class="mt-3 site-blue">Please test your <b>microphone</b></p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6 mb-3 text-center"><i
                            class="material-icons p-4 rounded-circle md-48 text-primary border-3">speaker</i>
                        <p class="mt-3 site-blue">Please test your <b>speakers</b></p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6 mb-3 text-center"><i
                            class="material-icons p-4 rounded-circle md-48 text-primary border-3">equalizer</i>
                        <p class="mt-3 site-blue">Ensure there is <b>no background noise</b></p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6 mb-3 text-center"><i
                            class="material-icons p-4 rounded-circle md-48 text-primary border-3">record_voice_over</i>
                        <p class="mt-3 site-blue">Get comfortable with the prompted text, before recording, by
                            <b>reading it aloud</b></p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6 mb-3 text-center"><i
                            class="material-icons p-4 rounded-circle md-48 text-primary border-3">play_circle_filled</i>
                        <p class="mt-3 site-blue">Get started by clicking on <b>Record</b> button</p>
                    </div>
                </div>
                <div class="row justify-content-center pb-5">
                    <div class="col-lg-3 col-md-4 col-6"><button type="button"
                            class="btn btn-primary h3 shadow w-100 rounded p-3 font-wt-700" data-dismiss="modal"
                            aria-label="Close"><%= __('START') %></button></div>
                </div>
            </div>
        </div>
    </div>
</div>