.sep {
  height: 1.5rem;
  opacity: 0.1;

  @include media-breakpoint-up(md) {
    height: 2.5rem;
  }
}

.label {
  font-family: Rowdies, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;

  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
  }

  &:hover {
    color: var(--primary-color);
  }
}

.labelSecondHalf {
  color: var(--warning-color);
  margin-left: 3px;
}

.betaText {
  bottom: 0.5rem;
  font-family: Roboto, sans-serif;
  right: 0;

  @include media-breakpoint-up(xl) {
    right: 0.5rem;
  }
}
