<link rel="stylesheet" type="text/css" href="../../css/common/mic-speaker-test-btn.css">
<div class="test-mic-speaker px-2 px-md-0 px-lg-0 mr-lg-3 m-0" id="test-mic-speakers">
    <button class="w-100 btn align-items-center d-flex justify-content-center" id="test-mic-speakers-button">
        <img src="../../img/speaker.svg" class="pr-10">
       <span class="d-xs-none d-block"> <%= __('Test your Speaker') %> </span>
       <span class="d-xs-block d-none"> <%= __('Test') %> </span>
    </button>
</div>
<script async src="../../js/common/speakerTestBtn.js"></script>