/* Customizations goes here */
$spacer: 1rem;
$spacers: (
  0: 0,
  // 0
  1: $spacer * 0.25,
  // 4px
  2: $spacer * 0.5,
  // 8px
  3: $spacer * 0.75,
  // 12px
  4: $spacer,
  // 16px;
  5: $spacer * 1.25,
  // 20px;
  6: $spacer * 1.5,
  // 24px;
  7: $spacer * 1.75,
  // 28px;
  8: $spacer * 2,
  // 32px;
  9: $spacer * 2.5,
  // 40px
  10: $spacer * 3,
  // 48px
  11: $spacer * 3.25,
  // 52px
  12: $spacer * 3.75,
  // 60px
  13: $spacer * 4.5,
  // 72px
  14: $spacer * 5,
  // 80px
);

$btn-focus-width: 0;
$input-border-color: var(--primary-color);
$form-select-border-color: var(--primary-color);
$input-focus-box-shadow: 0 0 0 0.2rem rgb(20 39 69 / 50%);
$form-select-focus-box-shadow: 0 0 0 0.2rem rgb(20 39 69 / 50%);
$form-check-input-checked-bg-color: var(--primary-color);
$form-check-input-checked-border-color: var(--primary-color);
$form-check-input-focus-box-shadow: 0 0 0 0.2rem rgb(20 39 69 / 50%);
/****************************/

// TODO: Please optimize this before going to production. Pick only those components which are needed.
// https://getbootstrap.com/docs/5.0/customize/optimize/
@import '~bootstrap/scss/bootstrap';
