/* Customizations goes here */
// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  // 0
  1: $spacer * 0.25,
  // 4px
  2: $spacer * 0.5,
  // 8px
  3: $spacer * 0.75,
  // 12px
  4: $spacer,
  // 16px
  5: $spacer * 1.25,
  // 20px
  6: $spacer * 1.5,
  // 24px
  7: $spacer * 1.75,
  // 28px
  8: $spacer * 2,
  // 32px
  9: $spacer * 2.5,
  // 40px
  10: $spacer * 3,
  // 48px
  11: $spacer * 3.25,
  // 52px
  12: $spacer * 3.75,
  // 60px
  13: $spacer * 4.5,
  // 72px
  14: $spacer * 5,
  // 80px
);

// Colors
$link-color: #007bff;

$theme-colors: (
  'primary': #0f2749,
  'secondary': #eff5ff,
  'success': $success,
  'info': #2961ad,
  'warning': #ffcc35,
  'danger': #d32f2f,
  'light': #fff,
  'dark': #000,
);
$custom-colors: (
  'primary-80': rgba(15, 39, 73, 0.8),
  'primary-64': rgba(15, 39, 73, 0.64),
  'primary-40': rgba(15, 39, 73, 0.4),
  'primary-10': rgba(15, 39, 73, 0.1),
  'strong-warning': #ef8537,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

:root {
  --primary-color: #{map-get($theme-colors, 'primary')};
  --secondary-color: #{map-get($theme-colors, 'secondary')};
  --success-color: #{map-get($theme-colors, 'success')};
  --info-color: #{map-get($theme-colors, 'info')};
  --warning-color: #{map-get($theme-colors, 'warning')};
  --danger-color: #{map-get($theme-colors, 'danger')};
  --light-color: #{map-get($theme-colors, 'light')};
  --dark-color: #{map-get($theme-colors, 'dark')};
  --link-color: #{$link-color};
  --primary-10-color: #{map-get($custom-colors, 'primary-10')};
  --primary-40-color: #{map-get($custom-colors, 'primary-40')};
  --strong-warning-color: #{map-get($custom-colors, 'strong-warning')};
  --btn-grey-color: #e7e9ed;
  --btn-primary-disabled-bg-color: #9fa9b6;
  --btn-primary-disabled-text-color: #cfd4da;
  --btn-secondary-disabled-bg-color: #f9fbff;
  --btn-tertiary-disabled-text-color: #6f7d92;
  --badge-bg-color: #fdf5dd;
}

// Typography
$font-family-base: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-size-base: 1rem;
$line-height-base: 1.5;

$h1-font-size: $font-size-base * 1.75; // 28px
$h2-font-size: $font-size-base * 1.5; // 24px
$h3-font-size: $font-size-base * 1.25; // 20px;
$h4-font-size: $font-size-base * 1.125; // 18px
$h5-font-size: $font-size-base * 1; // 16px
$h6-font-size: $font-size-base * 0.875; // 14px

$headings-margin-bottom: 0;
$headings-font-family: Rowdies;
$headings-font-style: normal;
$headings-font-weight: 400;
$headings-line-height: $line-height-base;
$headings-color: map-get($theme-colors, 'primary');

h1 {
  font-size: $h1-font-size !important;

  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 2.5 !important; // 40px
  }
}

h2 {
  font-size: $h2-font-size !important;

  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 2 !important; // 32px
  }
}

h3 {
  font-size: $h3-font-size !important;

  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 1.75 !important; // 28px
  }
}

h4 {
  font-size: $h4-font-size !important;

  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 1.5 !important; // 24px
  }
}

h5 {
  font-size: $h5-font-size !important;

  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 1.25 !important; // 20px
  }
}

h6 {
  font-size: $h6-font-size !important;

  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 1.125 !important; // 18px
  }
}

$display-font-sizes: (
  1: 1.25rem,
  // 20px
  2: 1.125rem,
  // 18px
  3: 1rem,
  // 16px
  4: 0.875rem,
  // 14px
  5: 0.875rem,
  // 14px
  6: 0.75rem,
  // 12px
  7: 0.6875rem,
  // 11px
  8: 0.625rem,
  // 10px
  9: 0.625rem,
  // 10px
);
$display-font-weight: 400;
$display-line-height: $line-height-base;

$paragraph-margin-bottom: 0;

p {
  color: map-get($theme-colors, 'primary') !important;
  font-family: Roboto, sans-serif !important;
}

.display-1 {
  font-size: 1.25rem !important;

  @include media-breakpoint-up(md) {
    font-size: 1.75rem !important; // 28px
  }
}

.display-2 {
  font-size: 1.125rem !important;

  @include media-breakpoint-up(md) {
    font-size: 1.5rem !important; // 24px
  }
}

.display-3 {
  font-size: 1rem !important;

  @include media-breakpoint-up(md) {
    font-size: 1.25rem !important; // 20px
  }
}

.display-4 {
  font-size: 0.875rem !important;

  @include media-breakpoint-up(md) {
    font-size: 1.125rem !important; // 18px
  }
}

.display-5 {
  font-size: 0.875rem !important;

  @include media-breakpoint-up(md) {
    font-size: 1rem !important; // 16px
  }
}

.display-6 {
  font-size: 0.75rem !important;

  @include media-breakpoint-up(md) {
    font-size: 0.875rem !important; // 14px
  }
}

.display-7 {
  font-size: 0.6875rem !important;

  @include media-breakpoint-up(md) {
    font-size: 0.75rem !important; // 12px
  }
}

.display-8 {
  font-size: 0.625rem !important;

  @include media-breakpoint-up(md) {
    font-size: 0.6875rem !important; // 11px
  }
}

.display-9 {
  font-size: 0.625rem !important;

  @include media-breakpoint-up(md) {
    font-size: 0.625rem !important; // 11px
  }
}

b,
strong {
  font-weight: 700 !important;
}

a {
  text-decoration: none !important;
}

// Merge utilities
$utilities: map-merge(
  $utilities,
  (
    'color': (
      property: color,
      class: text,
      values: $theme-colors,
    ),
    'background-color': (
      property: background-color,
      class: bg,
      values:
        map-merge(
          $theme-colors,
          (
            'body': $body-bg,
            'white': $white,
            'transparent': transparent,
          )
        ),
    ),
    'margin': (
      responsive: true,
      property: margin,
      class: m,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'margin-x': (
      responsive: true,
      property: margin-right margin-left,
      class: mx,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'margin-y': (
      responsive: true,
      property: margin-top margin-bottom,
      class: my,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'margin-top': (
      responsive: true,
      property: margin-top,
      class: mt,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'margin-end': (
      responsive: true,
      property: margin-right,
      class: me,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'margin-bottom': (
      responsive: true,
      property: margin-bottom,
      class: mb,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    'margin-start': (
      responsive: true,
      property: margin-left,
      class: ms,
      values:
        map-merge(
          $spacers,
          (
            auto: auto,
          )
        ),
    ),
    // Padding utilities
    'padding':
      (
        responsive: true,
        property: padding,
        class: p,
        values: $spacers,
      ),
    'padding-x': (
      responsive: true,
      property: padding-right padding-left,
      class: px,
      values: $spacers,
    ),
    'padding-y': (
      responsive: true,
      property: padding-top padding-bottom,
      class: py,
      values: $spacers,
    ),
    'padding-top': (
      responsive: true,
      property: padding-top,
      class: pt,
      values: $spacers,
    ),
    'padding-end': (
      responsive: true,
      property: padding-right,
      class: pe,
      values: $spacers,
    ),
    'padding-bottom': (
      responsive: true,
      property: padding-bottom,
      class: pb,
      values: $spacers,
    ),
    'padding-start': (
      responsive: true,
      property: padding-left,
      class: ps,
      values: $spacers,
    ),
    'border-color': (
      property: border-color,
      class: border,
      values:
        map-merge(
          $theme-colors,
          (
            'white': $white,
          )
        ),
    ),
  )
);

/****************************/
// Components override
/****************************/

$btn-focus-width: 0;
$input-border-color: var(--primary-color);
$form-select-border-color: var(--primary-color);
$input-focus-box-shadow: 0 0 0 0.2rem rgb(20 39 69 / 50%);
$form-select-focus-box-shadow: 0 0 0 0.2rem rgb(20 39 69 / 50%);
$form-check-input-width: 1rem;
$form-check-input-height: 1rem;
$form-check-input-checked-bg-color: var(--light-color);
$form-check-input-border: 2px solid var(--primary-color);
$form-check-input-checked-border-color: var(--primary-color);
$form-check-input-focus-box-shadow: 0 0 0 0.2rem rgb(20 39 69 / 50%);
$navbar-light-color: var(--primary-color);
$navbar-light-hover-color: var(--primary-color);
$progress-bg: var(--light-color);
$btn-padding-x: 0;
$btn-padding-y: 0;
$progress-border-radius: 10px;
$form-check-radio-checked-bg-image: url('/images/radio_checked.svg');
$form-check-input-focus-box-shadow: none;

:root {
  /* Z-Indexes */
  --header-z-index: 100;
}

/****************************/

// TODO: Please optimize this before going to production. Pick only those components which are needed.
// https://getbootstrap.com/docs/5.0/customize/optimize/
@import '~bootstrap/scss/bootstrap';
