// TODO: Remove this file when migrated to theme based classes

:root {
  /* Color Pallete */
  --bs-body-color: #0f2749;
  --primary-color: #0f2749;
  --bg-light-color: #eff5ff;
  --bg-header-primary: #142745;
  --text-white: #fff;
  --text-secondary: #d8d8d8;
  --text-yellow: #ffcc35;
  --text-dark: #000;
  --text-muted: #8c8c8c;
  --text-offWhite: #e2e2e2;
  --text-light: #eff5ff;
  --text-orange: #ef8537;
  --text-light-blue: #9fc8ff;
  --btn-disabled: #f7faff;

  /* Z-Indexes */
  --header-z-index: 100;
}
