.root {
  z-index: 1;
}

.addText {
  opacity: 0.8;
  box-shadow: inset 0 0 16px rgba(15, 39, 73, 0.2);
  border-radius: 8px;
}

.textarea {
  height: 6.25rem;
  resize: none;

  &:focus {
    box-shadow: none;
  }
}

.mainControl {
  bottom: -2.635rem;
}

.progress {
  height: 0.625rem;
}
