<div class="row mt-5 mb-5" id="view_all_btn">
    <div class="col-12 d-flex justify-content-center">
        <a href="./dashboard" id="viewAllDetailsBtn" class="btn btn-outline-primary text-primary">
            <%= __('VIEW ALL DETAILS') %>
        </a>
    </div>
</div>