.header {
  font-family: 'Rowdies', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.subHeader {
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.languageDropdown {
  width: 225px;
}

.label {
  line-height: 24px;
}
