.root {
  bottom: 1rem;
  filter: drop-shadow(0 0.25rem 0.75rem rgba(15, 39, 73, 0.32));
  height: 3.75rem;
  position: fixed;
  right: 1rem;
  width: 3.75rem;

  @include media-breakpoint-up(lg) {
    bottom: 1.5rem;
    right: 1.5rem;
  }

  &:hover,
  &:focus {
    background-color: var(--text-white);
    border-color: rgba(15, 39, 73, 0.32);
  }
}
