h1,
h2,
h3,
h4,
.progress-metric,
.progress-average-metric {
  font-family: 'Rowdies', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.thankyou-content-wrapper {
  margin-top: 56px;
}

.user-contribution-msg span {
  color: #007bff;
}

.thankyou-page-heading,
.user-contribution-msg,
.new-badge-msg {
  font-size: 36px !important;
  line-height: 40px !important;
  font-weight: 400 !important;
}

.web-view {
  font-family: Rowdies, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #142745;
}

.web-view h4,
.mobile-view h4 {
  line-height: 30px;
}

.contribution-info-inner #top-language-chart,
#chartRowWithoutCard #top-language-chart {
  min-height: 200px !important;
  max-height: 400px !important;
}

#chartRowWithoutCard {
  max-width: 800px;
}

.share-on {
  font-size: 14px;
  line-height: 17px;
  color: #666666;
  margin-right: 3px;
  align-self: center;
}

.x-axis-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #142745;
  opacity: 0.6;
}

#language-goal {
  background: #ffffff;
  box-shadow: 0 4px 12px 4px rgb(0 123 255 / 24%);
  border-radius: 12px;
  max-width: 1024px;
  position: fixed;
  bottom: 8px;
  padding: 14px 20px;
}

#language-goal img {
  filter: drop-shadow(0 4px 12px rgba(0, 123, 255, 0.2));
}

.bg-thank-you {
  background-size: cover;
}

.thank-you-title {
  width: 85%;
  margin: 0 auto;
}

.thankyou-content-wrapper .top-back-btn {
  top: -18px;
  left: 0;
}

.overlay__content {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  border-width: 0.2rem;
  border-color: #007bff;
  border-top-color: #ffffff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.contribution-info {
  background: linear-gradient(to right, #ffa345, #76bdff, #439908);
  box-shadow: 0 4px 40px rgba(0, 123, 255, 0.4);
  border-radius: 20px;
  padding: 2px;
  max-width: 800px;
  height: auto;
  margin: auto;
}

.contribution-info-inner {
  border-radius: 20px;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.sentence_away_msg {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.thankyou-content-wrapper.stats-container {
  border-radius: 34px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.w-80 {
  width: 75%;
}

.time {
  position: absolute;
  right: -55px;
  top: -1px;
  font-size: 12px;
}

.time-contributed {
  background-color: #fcc232;
}

.time-validated {
  background-color: #83e661;
}

.download-badge-btn {
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  color: #666666;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 15px;
}

.msg-box {
  text-align: left;
}

.msg-box h4 {
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  color: #142745;
}

.msg-box h4 span {
  color: #ef8537 !important;
}

.msg-box p {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.msg-box p span {
  color: #142745;
  font-weight: 400;
}

#badge_4_reward_msg_1,
#badge_4_reward_msg_2 {
  text-align: left;
  width: 100%;
  max-width: fit-content;
}

.badges_information .disable {
  opacity: 0.5;
}

.badges_information .btn.disabled,
.badges_information .btn:disabled {
  opacity: 1;
}

.thankyou-Know-More {
  margin: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #007bff;
}

#cardWithoutBadge {
  padding-top: 24px;
}

@media screen and (max-width: 767px) {
  #back-btn {
    display: none;
  }
  
  .download-badge-btn {
    text-align: center !important;
    margin-bottom: 15px !important;
  }

  .web-view h4,
  .mobile-view h4 {
    line-height: 24px !important;
  }

  .thankyou-page-heading,
  .user-contribution-msg,
  .new-badge-msg {
    font-size: 26px !important;
    line-height: 32px !important;
  }

  .msg-box p {
    font-size: 14px;
  }

  .x-axis-label {
    font-size: 12px;
  }

  #sentence_away_msg,
  #badge_4_reward_msg_1,
  #badge_4_reward_msg_2,
  .thankyou-Know-More {
    width: 100%;
  }

  #sentence_away_msg,
  #badge_4_reward_msg_1,
  #badge_4_reward_msg_2,
  .badges_information,
  .thankyou-Know-More {
    text-align: center;
  }

  .progress-average-metric,
  .progress-metric {
    font-size: 14px;
    line-height: 18px;
  }

  #totalAverage {
    font-size: 20px;
    line-height: 25px;
  }

  .reward-img {
    width: 150px;
    height: auto;
  }

  #language-goal {
    position: initial;
    bottom: 32px;
    margin-bottom: 32px;
    width: 100%;
    padding: 20px;
    min-width: 320px;
  }
}

@media screen and (max-width: 599px) {
  .stats-container {
    margin: 8px;
  }

  .msg-box h4 {
    font-size: 16px !important;
    line-height: 24px !important;
  }

  .thankyou-page {
    padding-top: 24px !important;
  }

  #cardWithoutBadge {
    padding-top: 0 !important;
  }
  .msg-box {
    text-align: center;
  }

  .stats-container > div {
    flex-direction: column;
    align-items: flex-start !important;
    width: 90%;
    margin: 0 auto;
  }

  .stats-container .title {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
  }

  .stats-container .most-data-recorded,
  .stats-container .lang-data-recorded {
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
  }

  .stats-container .w-80 {
    width: 60%;
  }

  .stats-container .time {
    right: 0;
    top: -2px;
  }

  .thank-you-title {
    margin-top: 45px;
    width: 75%;
  }

  .badges_information img,
  .downloadable_badges img {
    height: 60px;
    width: 47px;
  }
}

@media screen and (max-width: 375px) {
  .reward-img {
    width: 100px;
    height: auto;
  }
}

@media screen and (max-width: 280px) {
  .reward-img {
    width: 80px;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .badges_information{
    margin-left: 10px;
  }
  
  .thankyou-content-wrapper {
    margin-top: 65px;
  }

  .download-row .social-share-block{
    flex-wrap: no !important;
    max-width: max-content;
    position: absolute !important;
  }
}

.disable {
  opacity: 0.2;
}

.enable {
  cursor: pointer;
}

.btn-custom-primary {
  min-width: 194px !important;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

#showParticipateMsg .chart-badge-header {
  font-size: 20px;
  width: 100%;
  text-align: center;
}
