h1, h2,h3, h4, .progress-metric,.progress-average-metric{
    font-family: 'Rowdies', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.user-contribution-msg span{
    color: #007BFF;
}

.progress-average-metric{
    font-size: 20px;
    line-height: 25px;
}

#totalAverage{
    color:#EF8537;
    font-size: 40px;
    line-height: 20px;
}

.thankyou-page-heading{
    font-size: 36px;
    line-height: 40px;
}

.contribution-info-inner #top-language-chart, #chartRowWithoutCard #top-language-chart{
    min-height: 250px !important;
    max-width: 400px !important;
}

#chartRowWithoutCard{
    max-width: 800px;
}

.share-on{
    font-size: 14px;
    line-height: 17px;
    color: #666666;
    margin-right: 3px;
}

.x-axis-label{
    font-size: 12px;
    color: #142745;
    opacity: 0.6;
}

#language-goal{
    background: #FFFFFF;
    box-shadow: 0px 0px 16px 4px rgba(0, 123, 255, 0.13);
    border-radius: 12px;
    max-width: 1024px;
}

.bg-thank-you {
    background-size: cover;
}

.thank-you-title {
    width: 85%;
    margin: 0 auto;
}
.top-back-btn{
    top:100px
}

.spinner {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border-width: 0.2rem;
    border-color: #007bff;
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.contribution-info{
    background: linear-gradient(to right, #FFA345,#76BDFF,#439908);
    box-shadow: 0px 4px 40px rgba(0, 123, 255, 0.4);
    border-radius: 20px;
    padding: 2px;
    max-width: 800px;
    height: auto;
    margin: auto;
}

.contribution-info-inner{
    border-radius: 20px;
}

#sentence_away_msg{
    width: 100%;
}

.stats-container {
    border-radius: 34px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.champion-ribbon{
    position: absolute;
    transform: rotate(-45deg);
    left: -56px;
    width: 240px;
    background: linear-gradient(49.38deg, #007bff -227.24%, #89d6e3 169.12%);
    padding: 1rem;
    font-size: 14px;
    color: #fff;
}

.w-80 {
    width: 75%;
}

.time {
    position: absolute;
    right: -55px;
    top: -1px;
    font-size: 12px;
}

.time-contributed {
    background-color: #fcc232;
}

.time-validated {
    background-color: #83e661;
}

.msg-box{
    text-align: left;
}

.badges_information {
    width: 40%;
}

.thankyou-Know-More{
    width: 40%;
}

@media screen and (min-width: 599px) {
    .badges_information {
        /*position: absolute;*/
        /*bottom: 36px;*/
    }
}

@media screen and (max-width: 768px) {
    #sentence_away_msg, .badges_information, .thankyou-Know-More{
        width: 100%;
        text-align: center;
    }

    .progress-average-metric{
        font-size: 12px;
        line-height: 18px;
    }

    #totalAverage{
        font-size: 20px;
        line-height: 25px;
    }



    .reward-img {
        width: 150px;
        height: auto;
    }

    .top-back-btn {
        top: 80px;
        left: 20px;
    }

    #language-goal{
        position: initial;
        bottom: 0px;
        width: 100%;
    }

}

@media screen and (min-width: 768px) {

    .top-back-btn {
        top: 100px !important;
        left: 35px !important;
    }
}

@media screen and (max-width: 599px) {
    .contribution-info,
    .stats-container {
        margin: 8px;
    }

    .msg-box{
        text-align: center;
    }

    .stats-container > div {
        flex-direction: column;
        align-items: flex-start !important;
        width: 90%;
        margin: 0 auto;
    }

    .stats-container .title {
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
    }

    .stats-container .most-data-recorded,
    .stats-container .lang-data-recorded {
        text-align: center;
        width: 100%;
        margin-bottom: 16px;
    }

    .stats-container .w-80 {
        width: 60%;
    }

    .stats-container .time {
        right: 0;
        top: -2px;
    }

    .thank-you-title {
        margin-top: 45px;
        width: 75%;
    }

    .champion-ribbon {
        left: -70px;
    }
}

@media screen and (max-width: 414px) {
    .spree-ribbon{
        max-width: 240px;
        width: 240px;
        left: -60px;
    }
}

@media screen and (max-width: 375px) {
    .spree-ribbon{
        width: 240px;
        max-width: 240px;
    }

    .reward-img {
        width: 100px;
        height: auto;
    }
}



@media screen and (max-width: 280px) {
    .spree-ribbon{
        width: 240px;
        left: -65px;
        max-width: 240px;
    }

    .reward-img {
        width: 80px;
        height: auto;
    }
}

.disable{
    opacity: 0.2;
}

.enable{
    cursor: pointer;
}

.marquee {
    white-space: nowrap;
    text-align: right;
    width: 100%;
    -webkit-animation: rightThenLeft 15s linear infinite;
}

@-webkit-keyframes rightThenLeft {
    0% {margin-left: 100%;}
    100% {margin-left:-100%;}
}

.btn-custom-primary {
    min-width: 196px !important;
}
