<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/common/verticalBarGraph.css">
<div class="row mx-0 mb-3">
    <div class="col-6">
        <div class="text-primary"><%= text %></div> 
    </div>
    <div class="col-6">
        <div class="row float-right">
            <div class="language-legend mt-lg-1 mt-md-1"></div> <div>
                <%= __('Your selected language') %>
            </div>
            <div class="top-langauge-legend mt-lg-1 mt-md-1 ml-lg-5"></div> <div>
                <%= __('Top languages') %>
            </div>
        </div>
    </div>
</div>
<div id="top-language-chart" class="w-100"></div>
<script src="/js/common/verticalGraph.js"></script>