<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/common/verticalBarGraph.css">
<div id="top-language-chart" class="w-100"></div>
<div class="x-axis-label text-center">
    <%= __(`${language} vs Top contributed ${text}`)%>
</div>
<script src="/js/common/verticalGraph.js"></script>