<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/common/verticalBarGraph.css">
<div id="top-language-chart" class="w-100"></div>
<div class="x-axis-label">
    <span id="contributedLanguage" class="contributionLanguageTag">Hindi</span> vs Top contributed languages
</div>
<script src="/js/common/verticalGraph.js"></script>