.language-legend {
  background-color:#ef8537;
  height:15px;
  width:15px;
  border-radius:15px;
  margin-right:10px;
}

.top-langauge-legend {
  background-color:#f7cc56;
  height:15px;
  width:15px;
  border-radius:15px;
  margin-right:10px;
  margin-left:10px;
}