html {
  scroll-behavior: smooth;
  font-size: 10px;
}
@media (min-width: 321px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 448px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}

.bg-tri-color{
  background-size: contain !important;
}

#initiative .light-bg.active{
  border-bottom: 4px solid #0f2749 !important;
}

.your-language-label{
  font-family: 'Rowdies', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.your-language-label select{
  background: #ffffff;
  border: 1px solid #222222;
  box-sizing: border-box;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .font-weight-light-lg {
    font-weight: 300 !important;
    line-height: 32px;
  }

  .table tbody td{
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
  }

  .badge-detail-container .nav-link{
    font-size: 24px;
  }

}

.table-img{
  filter: drop-shadow(0 4px 12px rgba(0, 123, 255, 0.2));;
}

.padding-top-107{
  padding-top: 107px !important;
}

#initiative{
  border-bottom: 1px solid #0f2749;
}
#initiative a{
  opacity: 0.8;
  height: 64px;
  padding-top: 15px;
}

#initiative a.active{
  opacity: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
ul#initiative::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
ul#initiative {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.badge-detail-widget {
  box-sizing: border-box;
  border: 1px solid #cbcbcb;
  background: #eff5ff;
  border-radius: 8px;
  padding-bottom: 1px;
}

.badge-detail-widget.bg-white{
  box-shadow: 0 4px 12px rgba(15, 39, 73, 0.25);
  border: 1px solid #142747;
  border-radius: 8px;
}

.selected-badge-card-border{
  box-shadow: 0 4px 40px rgba(0, 123, 255, 0.4);
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(to right,#ffa345,#76bdff,#439908);
  margin-top: 38px;
}

.badge-details-notes{
  list-style-type: none;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.badge-level-heading{
  font-family: Rowdies, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.badge-detail-widget .badge-level-heading{
  font-family: Rowdies,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
  font-weight: 300 !important;
  font-size: 20px;
  line-height: 25px;
}

.badge-detail-widget .my-badge-image {
  width: 56px;
  height: 72px;
  margin-top: 12px;
}

.badge-participation-radio{
  font-family: Rowdies, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
  padding-left: 14px;
  font-size: 24px;
  line-height: 30px;
  color: #0f2749;
}

#initiative .nav-tabs > li > a.active {
  border-bottom: 4px solid #0f2749;
}

@media (max-width: 767px) {
  .back-btn a {
    line-height: 17px;
    font-size: 14px !important;
  }

  .badge-language-dropdown{
    max-width: 203px !important;
    height: 35px !important;
  }

  .card1{
    padding-left: 0 !important;
    padding-right: 6px !important;
  }
  .card2{
    padding-left: 2px !important;
    padding-right: 4px !important;
  }
  .card3{
    padding-left: 4px !important;
    padding-right: 2px !important;
  }
  .card4{
    padding-left: 6px !important;
    padding-right: 0 !important;
  }

  .p-l-r-20{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .p-r-8{
    margin-right: 8px;
  }

  #initiative a{
    height: 52px;
    padding: 16px 32px 12px 32px;
  }

  .badge-detail-container .nav-tabs {
    flex-wrap: nowrap;
    padding: 0;
    display: inline-flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  #initiative .nav-tabs > li > a.active {
    border-bottom: 4px solid #0f2749;
  }

  .badge-detail-container .nav-tabs > li > a {
    width: max-content;
    position: relative;
    display: block;
    line-height: 17px;
  }

  .badge-details-notes {
    font-size: 14px;
    line-height: 22px;
  }

  .selected-badge-card-border {
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .selected-badge-card{
    padding: 22px 20px;
  }

  .badge-detail-widget {
    height: 89px;
    padding-bottom: 0;
  }

  .badge-detail-widget .my-badge-image {
    height: 52px;
    width: 40px;
    margin-top: 12px;
  }

  .badge-level-heading {
    font-family: Rowdies, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300 !important;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 16px;
  }

  .badge-detail-widget .badge-level-heading {
    font-size: 14px;
    line-height: 17px;
  }

  .badge-participation-radio {
    font-family: Rowdies, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400 !important;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-left: 14px;
    margin-top: 3px;
  }

  .font-weight-light-lg {
    font-weight: 400 !important;
    line-height: 32px;
  }

  .padding-top-107 {
    padding-top: 78px !important;
  }


  .badge-detail-container .badge-mt-34 {
    margin-top: 19px !important;
  }

  .font-weight-normal-sm {
    font-weight: 400 !important;
  }

  .mt-xs-5 {
    margin-top: 5rem;
  }

  .popover {
    width: 180px;
  }

  .badges-detail-heading {
    font-size: 18px !important;
    line-height: 22px !important;
  }

  .text-order {
    order: 12;
  }


  .badge-detail-container .nav-link{
    font-size: 14px;
    padding: 2px;
  }

  .your-language-label {
    padding-top: 2px;
    font-size: 14px;
    line-height: 17px;
  }
}


.badge-detail-container .nav-link{
  font-weight: 400;
  line-height: 30px;
  align-items: center;
  color: #0f2749;
}

.badges-detail-heading{
  font-family: Rowdies, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;

}

.badge-language-dropdown{
  max-width: 225px;
  height:40px;
  padding:0 10px;
  border-color:#222222;
  color:#000000;
  background-color: #ffffff;
}


@media (max-width: 500px) {
  #badge-container table tbody {
    font-size: 12px !important;
  }
  #badge-container p {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  #badge-container h2 {
    font-size: 26px !important;
  }


  .selected-badge-card{
    max-width: 1200px;
    background: #ffffff;
    box-shadow: 0 4px 40px rgba(0, 123, 255, 0.4);
    border-radius: 20px;
    padding: 24px 20px 35px 20px;
  }

  .your-language-label {
    font-size: 14px;
  }

  .selected-badge-card h1 {
    font-size: 20px;
    line-height: 25px;
    padding-top: 6px;
    padding-bottom: 0;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .popover {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .font-weight-light-lg {
    font-weight: 300 !important;
  }
  .badge-img {
    height: 320px;
    width: 250px;
  }

  .your-language-label {
    font-size: 24px;
  }

  .selected-badge-card{
    max-width: 1200px;
    background: #ffffff;
    box-shadow: 0 4px 40px rgba(0, 123, 255, 0.4);
    border-radius: 20px;
    height: 400px;
    padding: 40px 42px 40px 82px;
  }
}

@media (max-width: 320px) {
  h1{
    font-size: 32px;
    justify-content: center;
  }
  .table-responsive-xs {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-xs > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1240px) {
  .card img {
    width: 150px;
    height: auto;
  }
}

.table thead th {
  vertical-align: middle;
}

.table tbody td {
  vertical-align: middle;
}


#badge-container, .badge-detail-container {
  max-width: 1200px;
}

#badge-container h2 {
  font-size: 30px;
}

#badge-container label {
  font-size: 12px;
}

#badge-container p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;  
}

.badge-mt-34 {
  margin-top: 38px;
}

.badge-detail-container .badge-mt-34 {
  margin-top: 37px;
}


.badge-mt-36 {
  margin-top: 36px;
}

.badge-mt-38 {
  margin-top: 38px;
}

#badge-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color:  #f8f9fa;
  background: #f8f9fa;
  border-radius: 0;
}

#badge-container .nav-tabs {
  font-size: 16px;
}

#badge-container .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent;
}

#badge-container .nav-tabs .nav-item {
  border-bottom: 1px solid #717171;
}

#badge-container .nav-tabs .nav-link {
  color:  #959595;
}

#badge-container table thead{
  height: 88px;
  background-color: #717171;
  color: #ffffff;
  font-weight: 700;
}

#badge-container .table-bordered th {
  border: none !important;
}

#badge-container .table-bordered td {
  border: 1px solid #959595;
}

#badge-table p {
  font-size: 14px;
  font-weight: 400;
}