* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

body {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100vh;
}

.font-family-Rowdies {
  font-family: Rowdies, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
}

.logo-text:hover {
  text-decoration: none;
}

.version-beta {
  font-size: 14px;
  line-height: 17px;
  margin-left: 24px;
  border: 1px solid #343a40;
  border-radius: 4px;
  padding: 6px 12px;
}

.vertical-line {
  background: #000000;
  height: 50px;
  width: 0.5px;
  opacity: 10%;
  margin-right: 15px;
}

.report-btn-container button {
  color: #666666;
  margin-right: 1rem;
  background: #ffffff;
  border-radius: 4px;
  min-height: 32px;
}

#report_btn {
  padding: 2px 10px;
  font-size: 14px;
}

#report_btn svg {
  margin-right: 5px;
  margin-top: -2px;
}

#report_close_btn,
#report_sentence_thanks_close_id {
  position: absolute;
  right: 25px;
  top: 5px;
  font-size: 30px;
  padding: 0;
}

.other-reason {
  resize: none;
  border-radius: 8px;
  background: #f2f3f5;
  border: 1px solid #f2f3f5;
}

.option-text {
  padding-left: 1.25rem;
  font-size: 14px;
}

.fs-14 {
  font-size: 14px;
}

.tour-tour {
  border-radius: 20px;
  padding: 24px;
}

.tour-backdrop {
  position: fixed;
}

.tour-tour .popover-header {
  display: none;
}

.tour-tour .popover-body {
  padding: 40px;
  font-size: 1rem;
  width: 375px;
  text-align: center;
}

.tour-tour .popover-body .progress {
  display: none;
}


@media screen and (max-width: 767px) {
  #report_btn {
    margin-right: 0;
    margin-left: 1rem;
  }
  .tour-tour {
    width: 95%;
    left: 1rem;
  }
  .vertical-line {
    margin-right: 8px !important;
    height: 24px !important;
  }
  .padding-top-65 {
    padding-top: 56px !important;
  }
}

.px-16 {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.dropdown {
  cursor: pointer;
}

.module-item.active > a {
  opacity: 1 !important;
}

.validate-disabled {
  background-color: rgb(230 230 230 / 50%);
  cursor: no-drop !important;
  pointer-events: none;
  box-shadow:  rgba(67, 192, 215, 0.5) 0 8px 0, rgb(0 0 0 / 10%) 0 0 32px !important;
  border: 1px solid rgba(67 ,192, 215, 0.5) !important;
}

.validate-disabled #left_container,
.validate-disabled #right_container {
  pointer-events: none;
  opacity: 0.6;
}


.validate-disabled #warning-msg {
  display: block !important;
}

.cont-validate-disabled {
  background-color: rgb(230 230 230 / 50%);
  cursor: no-drop !important;
  pointer-events: none;
  box-shadow:  rgba(67, 192, 215, 0.5) 0 8px 0, rgb(0 0 0 / 10%) 0 0 32px !important;
  border: 1px solid rgba(67 ,192, 215, 0.5) !important;
}

.cont-validate-disabled #left_container,
.cont-validate-disabled #right_container {
  pointer-events: none;
  opacity: 0.6;
}

.cont-validate-disabled #cont-warning-msg {
  display: block !important;
}


@media (min-width: 1400px) {
  #cont-warning-msg {
    display: none;
    top: 15px;
    left: 6%;
    font-style: italic;
    width: 92%;
    padding: 9px 15px;
    border-radius: 12px;
  }

  #warning-msg {
    display: none;
    top: 15px;  
    left: 6%;
    font-style: italic;
    width: 92%;
    padding: 9px 15px;
    border-radius: 12px;
    background: rgba(77, 130, 247, .1);
  }
}

@media (min-width: 768px) and (max-width: 961px) {
  .flex-direction-row {
    flex-direction: row !important;
  }
  .flex-flow-nowrap {
    flex-flow: nowrap;
  }
  #cont-warning-msg {
    display: none;
    top: 5px;
    left: 10%;
    font-style: italic;
    width: 89%;
    padding: 3px 10px;
    border-radius: 12px;
  }


  #warning-msg {
    display: none;
    top: 5px;
    left: 10%;
    font-style: italic;
    width: 89%;
    padding: 3px 10px;
    border-radius: 12px;
    background: rgba(77, 130, 247, .1);
  }
}

@media (max-width: 767px) {
  #header-nav-bar {
    min-height: 56px;
  }

  
  #report_close_btn,
  #report_sentence_thanks_close_id {
    right: 20px;
    top: 3px;
    font-size: 25px;
  }


  .report-modal-body {
    max-height: 300px;
    overflow: auto;
  }


  .option-text {
    font-size: 12px;
  }

  .xs-radio-label {
    font-size: 14px;
  }

  .report_para {
    font-size: 14px;
  }

  #report_sentence_modal .form-check-input {
    margin-top: 0.4rem;
  }

  #report_sentence_modal .report-modal-body .form-check-input {
    margin-top: 0.5rem;
  }

  #report_sentence_modal .modal-title {
    font-size: 20px;
  }

  .speakerDetails {
    height: 500px;
    overflow: auto;
  }

  .d-inherit {
    display: inherit !important;
  }

  .flex-direction-row {
    flex-direction: row !important;
  }
  .d-none-mob {
    display: none;
  }
  .top-back-btn {
    top: 12px;
    left: -4px;
  }
  .text-back-btn {
    left: 28px !important;
    top: 12px !important;
  }
  .text-validate-back-btn {
    left: 15px !important;
    top: 8px !important;
  }
  .ocr-back-btn {
    left: 1px !important;
  }

  .top-back-btn .back-text {
    display: none;
  }
  #dislike_button svg {
    height: 80px;
    width: 160px;
  }

  #like_button svg {
    height: 80px;
    width: 160px;
  }

  #audio-player-btn img {
    height: 50px;
    width: 50px;
  }
  .btn-recording {
    border-radius: 50px;
    font-size: 20px;
    border: 2px solid #007bff;
    min-height: 48px;
  }
  #cont-warning-msg {
    display: none;
    top: 8px;
    left: 7%;
    font-style: italic;
    width: 95%;
    padding: 8px 15px;
    min-height: 38px;
    border-radius: 12px;
  }

  #con-warning-msg p {
    font-size: 12px;
    margin-top: 4px;
  }

  #warning-msg {
    display: none;
    top: 8px;
    left: 7%;
    font-style: italic;
    width: 95%;
    padding: 8px 15px;
    min-height: 38px;
    border-radius: 12px;
    background: rgba(77, 130, 247, .1);
  }

  #warning-msg p {
    font-size: 12px;
    margin-top: 4px;
  }
}

@media (min-width: 767px) {
  #report_sentence_modal .report-modal-body .form-check-input {
    margin-top: 0.4rem;
  }
  .report-modal-body {
    max-height: 490px;
    overflow: auto;
  }
  .text-back-btn {
    left: 35px !important;
    top: 5px !important;
  }
  .text-validate-back-btn {
    left: 35px !important;
    top: 5px !important;
  }
  .d-none-mob {
    display: flex;
  }
  .top-back-btn {
    top: 20px;
    left: 35px;
  }
  .speakerDetails {
    height: 700px;
    overflow: auto;
  }

  .back-btn a:hover {
    text-decoration: none;
  }

  .btn-link:hover {
    text-decoration: none;
  }

  .btn-recording {
    border-radius: 50px;
    font-size: 24px;
    border: 2px solid #007bff;
  }
}

@media (max-width: 600px) {
  .d-xs-none {
    display: none !important;
  }
  .d-xs-block {
    display: block !important;
  }
  .btn-recording {
    border-radius: 50px;
    font-size: 20px;
    border: 2px solid #007bff;
    min-height: 48px;
  }
}

.border-50 {
  border-radius: 50px;
}

@media (min-width: 768px) {
  .badge-popover  {
    width: 320px;
    height: 262px;
    padding-top: 20px;
  }
  .padding-top-65 {
    padding-top: 65px !important;
  }
  .badge-popover:after  {
    left: 26%;
  }
  .badge-img-fluid {
    height: 230px;
  }
  .logo {
    width: 190px;
    height: 48px;
  }

  .btn-custom-primary {
    min-width: 240px;
    max-width: max-content;
  }

  .btn-custom-outline-primary {
    min-width: 240px;
    max-width: max-content;
  }
  .btn-transparent {
    max-width: max-content;
    min-width: 140px;
    font-size: 18px !important;
  }
  .my-badge-image {
    max-width: 100%;
    margin-top: 10px;
  }

  #badge-profile-content h6 {
    font-size: 18px;
  }

  #badge-container .nav-tabs .nav-link {
    font-size: 24px;
  }
  .header {
    height: 135px;
  }

  #my-badge a{
    opacity: 0.8;
    height: 64px;
    padding-top: 15px;
  }


}

@media (min-width: 700px) and (max-width: 767px) {
  .btn-custom-primary {
    min-width: 240px;
    max-width: 240px;
    height: 44px !important;
  }

  .btn-custom-outline-primary {
    min-width: 240px;
    max-width: 240px;
    height: 44px !important;
  }
  .btn-transparent {
    min-width: 240px;
    max-width: 240px;
    height: 44px !important;
    font-size: 18px !important;
  }
}

@media (max-width: 500px) {
  .d-sm-none {
    display: none;
  }
}


@media (min-width: 962px) {
  #cont-warning-msg {
    display: none;
    top: 15px;
    left: 7%;
    font-style: italic;
    width: 92%;
    padding: 9px 15px;
    border-radius: 12px;
  }


  #warning-msg {
    display: none;
    top: 15px;
    left: 7%;
    font-style: italic;
    width: 92%;
    padding: 9px 15px;
    border-radius: 12px;
    background: rgba(77, 130, 247, .1);
  }
}

@media (max-width: 767px) {
  #my-badge a {
    height: 52px;
    padding: 16px 32px 12px 32px;
  }

  .my-badge-container .nav-tabs {
    flex-wrap: nowrap;
    padding: 0;
    display: inline-flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
  #my-badge li>a {
    width: max-content;
    position: relative;
    display: block;
    line-height: 17px;
  }
  .badge-img {
    height: 200px;
    width: 155px;
  }
  .badge-image-detail {
    text-align: center;
  }
  .padding-top-65 {
    padding-top: 56px !important;
  }

  .badge-popover  {
    width: 180px;
    height: 150px;
    padding-top: 12px;
  }
  .badge-popover:after {
    left: 15%;
  }
  .badge-img-fluid {
    height: 130px;
  }

  #badge-container .nav-tabs .nav-link {
    font-size: 14px;
    width: max-content;
  }

  .modal-footer {
    border-top: 0 !important;
  }
  #userNavBar .dropdown-menu {
    position: absolute !important;
    margin-left: -140% !important;
  }

  .navbar-toggler {
    font-size: 1rem !important;
    border: 0 !important;
  }

  .version-beta {
    font-size: 12px;
    padding: 2px 6px;
    margin-top: 14px;
  }

  .logo {
    width: 150px;
    height: 48px;
  }

  #content-wrapper #btn-nav {
    padding-top: 8px !important;
  }

  .btn-custom-primary {
    min-width: 320px;
    max-width: 320px;
    height: 44px !important;
    font-size: 16px !important;
  }

  .btn-custom-outline-primary {
    min-width: 320px;
    max-width: 320px;
    height: 44px !important;
    font-size: 16px !important;
  }

  .btn-transparent {
    min-width: 320px;
    max-width: 320px;
    height: 44px !important;
    font-size: 16px !important;
  }

  .text-btn-control {
    flex-direction: column;
  }
  
  .asr #report_btn {
    margin-right: 1rem !important;
  }
  .my-badge-image {
    max-width: 100%;
    margin-top: 10px;
  }

  #badge-profile-content h6 {
    font-size: 14px;
  }
  #badge-profile-content h4 {
    font-size: 16px;
  }
  #badge-container h1,
  #badge-container h2 {
    font-size: 20px !important;
  }
  .header {
    height: 120px;
  }

  #warning-msg {
    display: none;
    top: 8px;
    left: 7%;
    font-style: italic;
    width: 95%;
    padding: 8px 15px;
    min-height: 38px;
    border-radius: 12px;
    background: rgba(77, 130, 247, .1);
  }

  #warning-msg p {
    font-size: 12px;
    margin-top: 4px;
  }
  #cont-warning-msg {
    display: none;
    top: 8px;
    left: 7%;
    font-style: italic;
    width: 95%;
    padding: 8px 15px;
    min-height: 38px;
    border-radius: 12px;
  }

  #con-warning-msg p {
    font-size: 12px;
    margin-top: 4px;
  }
}

.btn-custom-primary {
  color: #ffffff;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
}

.btn-custom-primary:hover {
  color: #ffffff;
  background-color: #0676ec;
}

.btn-transparent {
  background: transparent;
  color: #007bff;
  border-radius: 24px;
}

.btn-transparent:active {
  color: #007bff !important;
  border: 1px solid #007bff;
}

.btn-custom-outline-primary {
  background-color: #ffffff;
  border: 1px solid #007bff;
  color: #007bff;
  max-height: 48px;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 20px;
}

.btn-transparent:disabled {
  color: #d8d8d8;
}

.btn-custom-primary:disabled {
  background-color: #d8d8d8;
  color: #ffffff;
  font-weight: 700;
  border: 1px solid #dbdbdb;
  opacity: 1 !important;
}

.btn-custom-outline-primary:disabled {
  pointer-events: none;
}

#anonymous_user {
  color: #808080;
  pointer-events: none;
  cursor: none !important;
}

#localisation_dropdown {
  min-width: 8rem !important;
}

.header {
  width: 410px;
  margin: auto;
}

.badge-widget {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#badge-profile-content p {
  font-weight: 300 !important;
  margin: 0;
}

.badge-widget-placeholder {
  opacity: 0.5;
  border-radius: 8px;
  height: 100%;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-section {
  height: 500px;
  overflow: auto;
}

.badge-popover {
  visibility: hidden;
  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
  border: 1px solid #c4c4c4;;
  position: absolute;
  z-index: 1;
  bottom: 60%;
  left: 50%;
  margin-left: -75px;
  transition: opacity 0.3s;
  border-radius: 20px;
}

.badge-popover:after {
  content: '';
  position: absolute;
  top: -19px;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

.cursor-pointer {
  cursor:  pointer;
}

.light-blue {
  background-color: #eff5ff;
}

.header-fixed {
  position: fixed;
  width: 100%; 
  z-index: 9;
}

.padding-top-115 {
  padding-top: 115px !important;
}

.modal.show {
  z-index: 1047;
}

.modal.show ~ .modal.show {
  z-index: 1045;
}

.functional-page-bg .modal.show, 
#validator-page-content .modal.show,
#content-wrapper .modal.show {
  z-index: 1045;
}

.modal-backdrop.show  + .modal-backdrop.show {
  z-index: 1045;
}

.modal-backdrop.show {
  z-index: 1043;
}

#my-badge a.active {
  opacity: 1 !important;
  border-bottom: 4px solid #0f2749 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
ul#my-badge::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
ul#my-badge {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#my-badge {
  border-bottom: 1px solid #0f2749;
}