* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

body {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.logo-text:hover {
  text-decoration: none;
}

.version-beta {
  font-size: 14px;
  line-height: 17px;
  margin-left: 24px;
  border: 1px solid #343A40;
  border-radius: 4px;
  padding: 6px 12px;
}

.report-btn-container button{
  border: 1px solid #959595;
  color: #959595;
  margin-right: 1rem;
  min-width: 107px;
}

#report_btn svg {
  margin-right: 5px;
  margin-top: -2px;
}

#report_close_btn, #report_sentence_thanks_close_id {
  position: absolute;
  right: 1rem;
  top: 0rem;
  font-size: 2.5rem;
  padding: 0;
}

.other-reason {
  resize: none;
  border-radius: 8px;
  background: #F2F3F5;
  border: 1px solid #F2F3F5;
}

.option-text {
  padding-left: 1.25rem;
  font-size: 14px;
}

.fs-14 {
  font-size: 14px;
}


.tour-tour {
  border-radius: 20px;
  padding: 24px;
}

.tour-backdrop {
  position: fixed;
}

.tour-tour .popover-header{
  display: none;
}

.tour-tour .popover-body {
  padding: 40px;
  font-size: 1rem;
  width: 375px;
  text-align: center;
}

.tour-tour .popover-body .progress {
  display: none;
}

@media screen and (max-width: 767px) {
  #report_btn {
    margin-right: 0;
    margin-left: 1rem;
  }
  .report-btn-container {
    margin-top: 1rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
  }
  .tour-tour {
    width: 95%;
    left: 1rem;
  }
}

.px-16{
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.dropdown{
  cursor: pointer;
}

.module-item.active {
  background: rgba(0, 123, 255, 0.1);
  border-bottom: 2px solid#007BFF;
}

.module-item.active > a {
  color: #007BFF !important;
}


@media (max-width: 767px) {
  .d-none-mob {
    display: none;
  }
  .top-back-btn {
   top: 39px;
   left: -4px;
  }
  .bolo-back-btn {
    left: 20px !important;
   }
  .dekho-back-btn {
    left: 1px !important;
    margin-top: -7px !important;
  }

  .top-back-btn .back-text {
    display: none;
  }
  #dislike_button svg {
    height: 80px;
    width: 160px;
  }

  #like_button svg {
    height: 80px;
    width: 160px;
  }

  #audio-player-btn img {
    height: 50px;
    width: 50px;
  }
}

@media (min-width: 767px) {
  .d-none-mob {
    display: block;
  }
 .top-back-btn{
   top: 20px;
   left: 35px;
 }

 .back-btn a:hover {
   text-decoration: none;
 }

 .btn-link:hover {
  text-decoration: none;
}
}