/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

//  Color Pallet

$primary-color: #0f2749;
$bg-light-color: #eff5ff;
$bg-header-primary: #142745;
$text-white: #fff;
$text-secondary: #d8d8d8;
$text-yellow: #ffbf00;
$text-dark: #000;
$text-muted: #8c8c8c;
$text-offWhite: #e2e2e2;
$text-light: #eff5ff;
$text-orange: #EF8537;
$btn-disabled:  #F7FAFF;

// Color Shades

$btn-dark-primary: shade($primary-color, 10%);
$bg-dark-primary: shade($bg-header-primary, 20%);
$primary-color-shade1: tint($primary-color, 90%);
$primary-color-shade2: tint($primary-color, 80%);
$primary-color-shade3: tint($primary-color, 70%);
$primary-color-shade4: tint($primary-color, 60%);
$primary-color-shade5: tint($primary-color, 50%);
$primary-color-shade6: tint($primary-color, 40%);
$primary-color-shade7: tint($primary-color, 30%);
$primary-color-shade8: tint($primary-color, 20%);
$primary-color-shade9: tint($primary-color, 10%);
$primary-color-shade10: tint($primary-color, 100%);

.bg-app-primary {
  background-color: $text-white !important;
  color: $primary-color !important;
  filter: drop-shadow(0 2px 12px #9fc8ff)
}

body {
  color: $primary-color !important;
}

.bg-footer-primary {
  color: $primary-color !important;
  box-shadow: 0 -2px 12px 0  #9fc8ff;
}

.text-yellow {
  color: $text-yellow;
}

.bg-light {
  background-color: $text-light !important;
}

.bg-secondary {
  background-color: $bg-light-color !important;
}

.text-primary {
  color: $primary-color !important;
  &:hover {
    color: $primary-color !important;
  }
}

#warning-msg {
  border: 1px solid $primary-color;
  color: $primary-color;
  background-color: #fff;
  font-weight: 700;
}

.data-updated > div {
  color: $primary-color;
  font-size: 16px;
}

#cont-warning-msg {
  border: 1px solid $primary-color;
  color: $primary-color;
  background-color: #fff;
  font-weight: 700;
}

a.text-primary:focus,
a.text-primary:hover {
  color: $primary-color !important;
}

.text-btn-primary {
  color: $primary-color;
}

.text-custom-muted {
  color: $text-muted;
}

.text-muted-white {
  color: $primary-color !important;
  opacity: 0.8 !important;
}

.btn-outline-primary {
  color: $primary-color !important;
  border-color: $primary-color !important;

  &:hover {
    background-color: $primary-color !important;
    color: $text-white !important;
  }
}

.btn-custom-outline-primary:disabled {
  background: #F7FAFF;
  box-shadow: 0px 8px 24px rgba(15, 39, 73, 0.1);
  opacity: 1;
  color: #7F8EA4;
}

.btn-custom-outline-primary:disabled img {
  opacity: 0.5;
}

.btn-primary {
  background-color: $primary-color !important;
  color: $text-white !important;
  border-color: $primary-color !important;

  &:hover {
    background-color: $primary-color;
  }
}

.btn-custom-primary {
  background-color: $primary-color;
  color: $text-white;
  border-radius: 40px;
  box-shadow: 0px 8px 24px rgba(15, 39, 73, 0.2);
  width: max-content;
  border: 2px solid #0f2749;
}

.btn-custom-primary {
  &:focus {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    box-shadow: 0 8px 24px rgb(15 39 73 / 40%) !important;
  }
}

.btn-custom-primary {
  &:hover {
    color: $text-white;
    background-color: $btn-dark-primary;
    box-shadow: 0px 8px 24px rgba(15, 39, 73, 0.4);
    border-color:  #006aff;
  }
}

.btn-transparent {
  background: transparent;
  color: $primary-color;
}


.btn-transparent {
  &:active {
    color: $primary-color !important;
    background-color: rgba(15, 39, 73, 0.1) !important;
    border: transparent !important;
  }
}

.btn-custom-outline-primary {
  background-color: $text-white;
  border: 1px solid $text-white;
  color: $primary-color;
  box-shadow: 0px 8px 24px rgba(15, 39, 73, 0.2);
}

.btn-custom-outline-primary {
  &:active {
    background-color: $primary-color-shade1 !important;
    border: 1px solid  $text-white;
    color: $primary-color !important;
    box-shadow: 0px 8px 24px rgba(15, 39, 73, 0.4);
  }
}


.btn-custom-outline-primary {
  &:focus {
    box-shadow: 0 8px 24px rgb(15 39 73 / 20%) !important;
  }
}

.btn-transparent:disabled {
  color: #7F8EA4;
}

.btn-custom-primary:disabled {
  background-color: #7F8EA4;
  color:#C7CFDA;
  border-color: #7f8ea4;
  box-shadow: 0px 8px 24px rgba(15, 39, 73, 0.1) !important;
}

.edit-text,
#edit-text {
  box-shadow: inset 0 0 8px $primary-color !important;
  border: 2px solid $primary-color !important;
}

.progress-bar-striped {
  background-color: $primary-color !important;
}

#carouselExampleIndicators {
  .nav-tabs {
    & > li {
      &.active {
        border-bottom: 4px solid $primary-color;
        a {
          &:hover {
            color: $primary-color;
          }
        }
      }
      a {
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.module-item {
  &.active {
    background: rgba(159, 200, 255, 0.39) !important;
    border-bottom: 2px solid $primary-color !important;
    & > a {
      span {
        &:nth-child(1) {
          color: $primary-color !important;
        }
        &:nth-child(2) {
          color: $primary-color !important;
        }
      }
    }
  }
}

.light-bg {
  &.active {
    border-bottom: 2px solid $primary-color !important;
    background-color: $text-white !important;
    span {
      &:nth-child(1) {
        color: $text-dark !important;
      }
      &:nth-child(2) {
        color: $primary-color !important;
      }
    }
  }
}

.light {
  span {
    &:nth-child(1) {
      color: $text-dark !important;
    }
    &:nth-child(2) {
      color: $text-yellow !important;
    }
  }
}

.dark {
  span {
    &:nth-child(1) {
      color: $text-white !important;
    }
    &:nth-child(2) {
      color: $text-yellow !important;
    }
  }
}

.dark-bg {
  &.active {
    border-bottom: 2px solid#4DBAF7 !important;
    span {
      &:nth-child(1) {
        color: $text-white !important;
      }
      &:nth-child(2) {
        color: $text-yellow !important;
      }
    }
  }
}

.badge-detail-widget {
  border: 1px solid #cbcbcb;
  background: $text-light;
}

.badge-widget {
  border: 1px solid $text-offWhite;
}

.badge-widget-placeholder {
  background: $text-white;
  opacity: 0.5;
  border: 1px dashed $primary-color;
}

#badge-container .nav-tabs .nav-link {
  color: $primary-color !important;
}

.contribution-stats {
  background-color: #2961ad;
  box-shadow: rgb(255, 191, 0) 0 8px 0;
  .stats {
    color: $text-yellow;
  }
  .stats-label {
    color: $text-white;
  }
  .spinner {
    border-color: #ffffff;
    border-top-color: #2961ad;
  }
}

audio {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.dashboard-bg {
  background-image: url(/img/dashboard_bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $text-light;
}

.back-btn a {
  color: $primary-color;
}

@media screen and (min-width: 767px) {
  .btn-transparent {
    &:hover {
      background-color: rgba(15, 39, 73, 0.1) !important;
      box-shadow:  rgba(15, 39, 73, 0.1) !important;
    }
  }

.btn-custom-outline-primary {
  &:hover {
    background-color: $primary-color-shade1 !important;
    border: 1px solid  $text-white;
    color: $primary-color !important;
    box-shadow: 0px 8px 24px rgba(15, 39, 73, 0.4);
  }
}

  .functional-page-bg {
    height: 100%;
  }
  #navbarSupportedContent ul li {
    height: 65px;
  }

  .dashboard-bg {
    background-image: url(/img/dashboard_bg.svg);
  }

  .bg-tri-color {
    background-image: url(/img/thankyou_bg.svg);
    background-size: cover;
  }

  .bg-body-primary {
    background-image: url(/img/home_bg.svg);
  }
  .functional-page-bg {
    background-image: url(/img/dashboard_bg.svg);
  }
  .bg-badge {
    background-image: url(/img/my-badge-bg.svg);
  }

  .modal-lg,
  .modal-xl {
    width: 700px !important;
  }
  #straight-line-row {
    min-height: 130px;
  }
}

@media screen and (max-width: 766px) {
  .expand-view-text {
    font-size: 13px !important;
    margin-top: 4px !important;
  }
  #straight-line-row {
    min-height: 90px;
  }
  #sentenceLabel {
    font-size: 24px !important;
  }
  .data-updated > div {
    font-size: 14px;
  }
  #navbarSupportedContent ul li {
    height: 45px;
  }
  .dashboard-bg {
    background-image: url(/img/dashboard_bg_fn.svg);
  }

  .bg-tri-color {
    background-position: top center;
    background-size: contain;
    background-image: url(/img/thankyou_bg_fn.svg);
  }

  .bg-body-primary {
    background-image: url(/img/home_bg_sm.svg);
  }
  .functional-page-bg {
    background-image: url(/img/functional_bg_sm.svg);
  }
  .bg-badge {
    background-image: url(/img/my-badge-bg-sm.svg);
  }

  #carouselExampleIndicators .nav-tabs > li.active {
    border-bottom: 4px solid $primary-color !important;
  }

  .font-s-12 {
    font-size: 12px !important;
  }
}

.bg-tri-color {
  background-repeat: no-repeat;
  background-color: $text-light;
}

.dashboard-bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $text-light;
}

.bg-body-primary {
  background-color: $text-light !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-badge {
  background-color: $text-light !important;
  background-repeat: no-repeat;
  background-size: contain;
}

.functional-page-bg {
  background-color: $text-light;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.badge-widget {
  &.active {
    border: 1px solid $primary-color !important;
  }
}

#badge-container .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: $primary-color;
}

.h5 {
  font-size: 20px !important;
}

.active,
.site-blue,
.image-text,
.label-text {
  color: $primary-color;
}

select {
  border-color: $primary-color !important;
}

.form-control {
  border: 1px solid $primary-color;
}

.border-primary {
  border-color: $primary-color !important;
}

.text-orange {
  color: $text-orange;
}

.font-weight-normal-Rowdies {
  font-weight: 300 !important;
}

.social-share-block  {
  border : 1px solid rgba(20, 39, 69, 0.5);
  box-shadow: 0 4px 12px rgb(20, 39, 69, 0.2) ;
}

.font-family-Rowdies-light {
  font-family: Rowdies,'Helvetica Neue',Helvetica,Arial,sans-serif!important;
  font-weight: 300 !important;
}

.font-family-Lato-light {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif!important;
  font-weight: 300 !important;
}

.font-family-Lato {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif!important;
  font-weight: 400 !important;
}

.form-control {
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(20, 39, 69,0.5);
    border-color: $primary-color;
  }
}

.download-badge-btn {
  border: 1px solid rgba(20, 39, 69,.5);
  box-shadow: 0 4px 12px rgb(20, 39, 69,0.2);
}

.float{
  border: 1px solid rgba(20, 39, 69, 0.2);
}

#locale_language_dropdown.active{
  border-bottom: 2px solid $primary-color;
}

#feedback_button:hover {
  background-color: $primary-color-shade1;
}

button:focus{
  outline: none  !important;
}

.expand-view-text {
  cursor:pointer;
  right:16px;
  font-size:14px;
  margin-top:5px
}

.dropdown-item.active, .dropdown-item:active {
  color: #16181b;
}
