$primary-color: #0F2749;
$bg-light-color : #EFF5FF;
$bg-header-primary: #142745;
$text-white: #fff;
$text-secondary:#D8D8D8;
$primary-color-shade1: rgba(37, 70, 105, 0.1);
$primary-color-shade2: rgba(37, 70, 105, 0.2);
$primary-color-shade3: rgba(37, 70, 105, 0.3);
$primary-color-shade4: rgba(37, 70, 105, 0.4);


// rgba(37, 70, 105, 1)
// 142745


.bg-app-primary {
    background-color: $bg-header-primary !important;
    color: $text-white !important;
}

.bg-body-primary{
  background-color: $bg-header-primary!important;
}

.bg-secondary {
  background-color: $bg-light-color!important;
}

.text-primary {
    color: $bg-header-primary !important;
}

.text-btn-primary {
    color: $primary-color;
}

.text-muted-white {
    color: $text-white !important;
    opacity: 0.8 !important;
}

.btn-outline-primary {
    color: $primary-color !important;
    border-color: $primary-color !important;

    &:hover {
        background-color: $primary-color !important;
        color: $text-white !important;
    }
}

.btn-primary {
    background-color: $primary-color !important;
    color: $text-white !important;

    &:hover {
        background-color: $primary-color;
    }
}

.btn-custom-primary {
    background-color:$primary-color;
    color: $text-white;
    filter: drop-shadow(1px 8px 24px $primary-color-shade2);
}

.btn-custom-primary {
  &:focus {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  }
}

  .btn-custom-primary:hover {
    color: $text-white;
    background-color:$primary-color;
  }


  .btn-transparent {
    background: transparent;
    color: $primary-color;
  }

  .btn-transparent:hover {
    background-color: $primary-color-shade1 !important;
    border-color: $primary-color-shade4 !important;
  }

  .btn-transparent:active {
    color: $primary-color !important;
    border: 1px solid $primary-color;
  }
 
  .btn-custom-outline-primary {
   background-color:$text-white;
   border: 1px solid $primary-color;
   color: $primary-color;
  }

  .btn-custom-outline-primary:hover {
    background-color: $primary-color-shade2;
    color: $primary-color;
  }

  .btn-custom-outline-primary:focus {
    background-color: $primary-color-shade2;
  }

  .btn-transparent:disabled {
    color: $text-secondary;
  }

  .btn-custom-primary:disabled {
    background-color: $primary-color-shade4;
    color: $text-white;
    border: 1px solid $primary-color-shade1;
  }

  .edit-text, #edit-text {
    box-shadow: inset 0 0 8px $primary-color!important;
    border: 2px solid $primary-color !important;
}

.progress-bar {
  background-color: $primary-color !important;
}

#carouselExampleIndicators {
	.nav-tabs {
		& > li {
			&.active {
        border-bottom: 2px solid $primary-color;
        a {
          &:hover {
            color: $primary-color;
          }
        }
      }
      a {
        &:hover {
          color: $primary-color;
        }
      }
		}
	}
}
