a{
    cursor: pointer;
}

.dropdown{
    cursor: pointer;
}

.fs-1_5-rem {
    font-size: 1.5rem;
}

.w-h-5 {
    width: 5rem;
    height: 5rem;
}

.original-text {
    border: 1px solid rgba(149, 149, 149, 0.5); 
    background-color:#f8f9fa;
    min-height:180px;
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
    padding: 24px;
}

#edit-text {
    min-height:180px;
    border-top-right-radius:12px;
    border-bottom-right-radius:12px;
    padding: 24px;
    box-shadow: inset 0px 0px 8px #007BFF;
    border: 2px solid #007BFF;
}

.text-area {
    border-radius: 12px !important;
}

#edit-text textarea {
    border: none;
    padding: 0;
    box-shadow: none;
    color: black;
    font-size: 24px;
}

.original-text,#edit-text label {
    font-size: 14px;
    color: #959595;
}

#original-text {
    font-size: 24px;
    color: black;
}

@media (min-width: 992px) {
    .validation-container {
        min-height: 250px;
    }
    .prompt{
        min-height: 150px;
        padding: 32px;
    }
}

@media (min-width: 1000px) {
    .dropdown-menu{
        right:0;
        left:auto;
    }
}

.oflow-x-hid {
    overflow-x: hidden;
}

@media (max-width: 767px) {
    .record-btn-container {
        flex-direction: column-reverse;
        align-items: flex-end;
        display: -webkit-box;
    }
    .record-btn-container .test-mic-speaker {
        margin-top: 15px;
    }
    #cancel-edit-button > svg {
        height: 80px;
        width: 160px;
    }
    
    #submit-edit-button > svg {
        height: 80px;
        width: 160px;
    }

    #need_change > svg {
        height: 80px;
        width: 160px;
    }
    #like_button > svg {
        height: 80px;
        width: 160px;
    }
}

.hover-edit{
    background-color: #F7F7F7;
    opacity: 0.5;
    border: 1px solid #343A40;
    box-sizing: border-box;
    border-radius: 12px;
}


