a{
    cursor: pointer;
}

.dropdown{
    cursor: pointer;
}

.fs-1_5-rem {
    font-size: 1.5rem;
}

.w-h-5 {
    width: 5rem;
    height: 5rem;
}

@media (min-width: 992px) {
    .validation-container {
        min-height: 250px;
    }
    .prompt{
        min-height: 120px;
    }
}

@media (min-width: 1000px) {
    .dropdown-menu{
        right:0;
        left:auto;
    }
}

.oflow-x-hid {
    overflow-x: hidden;
}

@media (max-width: 767px) {
    .record-btn-container {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}

.hover-edit{
    background-color: #F7F7F7;
    opacity: 0.5;
    border: 1px solid #343A40;
    box-sizing: border-box;
    border-radius: 12px;
}


