<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/common/contributionStats.css">
<div class="contribution-data text-center col-12 col-md-3 col-lg-3 col-xs-6 col-xl-3" id="languages-wrapper">
  <p class="mb-1 font-weight-bold font-family-Rowdies stats" id="languages-value"><span class="spinner"></span></p>
  <p class="mb-0 stats-label"> <%= labels[0] %> </p>
</div>
<div class="contribution-data text-center col-12 col-md-3 col-lg-3 col-xs-6 col-xl-3">
  <p class="mb-1 font-weight-bold font-family-Rowdies stats" id="speaker-value"><span class="spinner"></span></p>
  <p class="mb-0 stats-label"> <%= labels[1] %> </p>
</div>
<div class="contribution-data text-center col-12 col-md-3 col-lg-3 col-xs-6 col-xl-3">
  <p class="mb-1 font-weight-bold font-family-Rowdies stats" id="contributed-value"><span class="spinner"></span></p>
  <p class="mb-0 stats-label"> <%= labels[2] %> </p>
</div>
<div class="contribution-data text-center border-0 col-12 col-md-3 col-lg-3 col-xs-6 col-xl-3">
  <p class="mb-1 font-weight-bold font-family-Rowdies stats" id="validated-value"><span class="spinner"></span></p>
  <p class="mb-0 stats-label"> <%= labels[3] %> </p>
</div>
<script src="/js/common/contributionStats.js"></script>
