<div class="contribution-data d-none" id="languages-wrapper">
    <p class="mb-1" id="languages-value"></p>
    <p class="mb-0">
        <%= __(labels[0]) %>
    </p>
</div>
<div class="contribution-data">
    <p class="mb-1" id="speaker-value"></p>
    <p class="mb-0">
        <%= __(labels[1]) %>
    </p>
</div>
<div class="contribution-data">
    <p class="mb-1" id="contributed-value"></p>
    <p class="mb-0">
        <%= __(labels[2]) %>
    </p>
</div>
<div class="contribution-data">
    <p class="mb-1" id="validated-value"></p>
    <p class="mb-0">
        <%= __(labels[3]) %>
    </p>
</div>