<div class="row justify-content-center mb-5 mb-lg-0 mt-5 d-none" id="editor-row">
    <div class="col-lg-5 col-md-5 col-12 original-text">
        <label><%- __('Original Text')%></label>
        <div id="original-text">

        </div>
    </div>
    <div class="form-group green-border-focus col-lg-5 col-md-5 col-12 m-0" id="edit-text">
        <label><%- __('Your Edit') %></label>
        <div class="arrow-right"></div>
        <textarea class="form-control edit-area" id="edit" rows="3"></textarea>
    </div>
</div>