<!doctype html>
<html>

<head>
    <title>Vakyansh: A crowdsourcing initiative for Indic languages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3.7.0/notyf.min.css" integrity="sha256-1T9PQaTbbUusCVH72ahoGVZ1axGmU5uAOgSb4/GNXj8=" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <%- include common/header.ejs %>
    <div class="container">
        <div class="d-flex j-center">
            <div class="col-6 card">
                <div class="d-flex j-center  mt-1">
                    <h1>Contact Us</h1>
                </div>
                <div class="d-flex j-center mt-1">
                    <div class="col-3">
                        <label for="email">Email</label>
                        <span class="required">*</span>
                    </div>
                    <div class="col-8">
                        <input required type="email" id="email" placeholder="Email" />
                    </div>
                </div>
                <div class="d-flex j-center mt-1">
                    <div class="col-3">
                        <label for="query">Your Query</label>
                        <span class="required">*</span>
                    </div>
                    <div class="col-8">
                        <textarea required id="query" class="" placeholder="Write Your Query Here" rows="10"></textarea>
                    </div>
                </div>
                <div class="d-flex j-center mt-1 mb-1">
                    <button class="button1 small-btn" id="submitQuery">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <%- include common/footer.ejs %>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3.7.0/notyf.min.js" integrity="sha256-22tRfnWCd6VIZ8O39ATlPY3pctqfFp9tFsyl4swl+VQ=" crossorigin="anonymous"></script>
    <script src="js/contact-us.js"></script>
</body>

</html>