<!doctype html>
<html>

<head>
    <title>Crowd Sourcing Platform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!--TO DO :  Lazy load this -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"> -->
    
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>

<body>

    <%- include common/header.ejs %>
    <div class="container-fluid pb-6">
        <div class="row py-5">
            <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-1 offset-md-2 offset-sm-1 p-5 text-dark mt-5">
                <h1 class="display-5 font-wt-900 site-blue">Crowd Sourcing Platform:</h1>
                <p class="display-5 font-wt-900 site-blue">Speech Recognition</p>
                <p class="h4 font-weight-light lh-7 site-blue">EkStep is an enabler. Our layered modular platform allows
                    the creation of
                    non-linear, agile and scalable solutions.<a class="ml-1"
                    href="/about-us"> See More</a></p>
                <div class="row">
                    <div class="col-8 col-sm-6 col-lg-5">
                        <a role="button" href="#speaker-details" class="btn btn-primary h6 shadow w-100 rounded mt-4 p-3">
                                START RECORDING
                        </a>
                    </div>
                </div>

            </div>
            <div id="header-img"
                class="col-lg-4 col-md-8 col-sm-10 offset-lg-1 offset-md-2 offset-sm-1 bg-secondary p-5 mt-5 d-flex text-center">

                <p class="h1 align-self-center">Dummy Image Here</p>
            </div>

        </div>
    </div>
   
    <div class="container-fluid pt-5 pb-6 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8 p-5 card" id="speaker-details">
                <p class="display-5 font-wt-900 site-blue text-center">Speaker Details</h1>
                    <!-- <p class="lead lh-7 site-blue text-center">Type Something</p> -->

                <div class="form-group">
                    <label for="username" class="form-label">User Name</label>
                        <input class="form-control" id="username" placeholder="User Name">
                </div>
                <div class="form-group pt-3">
                    <label for="gender" class="form-label">Gender</label>
                    <div class="d-flex justify-content-around">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="male-check" value="male">
                            <label class="form-check-label p-2" for="male-check">Male</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="female-check" value="female">
                            <label class="form-check-label p-2" for="female-check">Female</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="other-check" value="others">
                            <label class="form-check-label p-2" for="other-check">Others</label>
                          </div>
                    </div> 
                </div>
                <div class="row pt-3">
                    <div class="form-group col-md-4 col-sm-12">
                        <label for="age" class="form-label">Age Group</label>
                        <select class="form-control" id="age">
                            <option value="">Please Select</option>
                            <option value="13 - 17">13 - 17 (Youth)</option>
                            <option value="18 - 29">18 - 29 (Adult)</option>
                            <option value="30 - 39">30 - 39 (Adult)</option>
                            <option value="40 - 49">40 - 49 (Adult)</option>
                            <option value="50 - 59">50 - 59 (Adult)</option>
                            <option value="60 - 64">60 - 64 (Adult)</option>
                            <option value="65 - 74">65 - 74 (Senior)</option>
                            <option value="> 75">&gt; 75 (Senior)</option>
                        </select>
                    </div>
                    <div class="form-group col-md-8 col-sm-12">
                        <label for="mother-tongue" class="form-label">Mother Tongue</label>
                        <select class="form-control" id="mother-tongue">
                            <option value="">Please Select</option>
                            <option value="Assamese">Assamese</option>
                            <option value="Bengali">Bengali</option>
                            <option value="Bodo">Bodo</option>
                            <option value="Dogri">Dogri</option>
                            <option value="Gujarati">Gujarati</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Kannada">Kannada</option>
                            <option value="Kashmiri">Kashmiri</option>
                            <option value="Konkani">Konkani</option>
                            <option value="Maithili">Maithili</option>
                            <option value="Malayalam">Malayalam</option>
                            <option value="Manipuri">Manipuri</option>
                            <option value="Marathi">Marathi</option>
                            <option value="Nepali">Nepali</option>
                            <option value="Odia">Odia</option>
                            <option value="Punjabi">Punjabi</option>
                            <option value="Sanskrit">Sanskrit</option>
                            <option value="Santali">Santali</option>
                            <option value="Sindhi">Sindhi</option>
                            <option value="Tamil">Tamil</option>
                            <option value="Telugu">Telugu</option>
                            <option value="Urdu">Urdu</option>
                        </select>
                    </div>
                </div>
                <div class="form-check mt-1">
                    <input class="form-check-input" type="checkbox" value="" id="tnc">
                    <label class="form-check-label" for="tnc">
                      I have read and agree to the <a href="/terms-and-conditons">Terms and Condtions</a>
                    </label>
                  </div>
                <div class="row justify-content-center">
                    <div class="col-8 col-sm-6 col-lg-7 col-xl-6">
                        <button type="button" id="start-record" class="btn btn-primary h6 shadow w-100 rounded mt-4 p-3"
                            id="start-record" disabled>
                                START RECORDING
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include common/footer.ejs %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


        <!-- Do we really need popper ? -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="js/home.js"></script>
</body>

</html>