<!doctype html>
<html>

<head>
    <title>Vakyaansh: A crowdsourcing initiative for Indic languages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <%- include common/header.ejs %>
    <div class="container my-5 p-5">
        <div class="row justify-content-center">
            <div class="col-sm-10 text-center">
                <div class="jumbotron">
                    <h1 class="display-1">Oops</h1>
                    <p class="lead">Page Not Found</p>
                    <hr class="my-4">
                    <p>Looks like you have taken a wrong turn here</p>
                    <p class="lead">
                      <a class="" href="/" >Click Here</a> to go back to home page
                    </p>
                  </div>
            </div>
        </div>
      
    </div>
    <%- include common/footer.ejs %>

</body>

</html>