<!doctype html>
<html>

<head>
    <title>Crowd Sourcing Platform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/site.css">
</head>

<body>

    <%- include common/header.ejs %>
    <div class="container">
        <div class="d-flex j-center">
            <div class="col-6 card mt-1">
                <div class="d-flex j-center  mt-1">
                    <h1>Privacy Policy</h1>
                </div>

                <div class="d-flex j-center mt-1 mb-1">
                    By using this website you agree to fact that we will collect, store, use all audio data provided by you
                </div>
            </div>
        </div>
    </div>

    <%- include common/footer.ejs %>
</body>

</html>