<!doctype html>
<html>

<head>
    <title>Crowd Sourcing Platform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <%- include common/header.ejs %>
    <div class="container">
        <div class="d-flex j-center">
            <div class="col-6 card mt-1">
                <div class="d-flex j-center  mt-1">
                    <h1>Terms & Conditions</h1>
                </div>
            
                <div class="d-flex j-center mt-1">
                    <ul>
                        <li>To participate in provide a valid mail address</li>
                        <li>All the data provided by you can be stored for future studies</li>
                    </ul>
                </div>
               
            </div>
        </div>
    </div>

    <%- include common/footer.ejs %>
</body>

</html>