<!doctype html>
<html>

<head>
    <title>Vakyaansh: A crowdsourcing initiative for Indic languages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>

<body>

    <%- include common/header.ejs %>
    <div class="container-fluid my-5 p-5 bg-thank-you h-100">
        <div class="text-center">
            <h1 class="display-5 font-wt-900 site-blue">Thank you for contributing!</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 col-md-5 text-left">
                <img src="/img/thanks.svg" class="img img-fluid w-100">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 col-md-5 text-muted text-left">
                <p class="ml-3">
                    We are <b>20 minutes</b> closer to our goal!!!
                </p>
            </div>
        </div>
       
        <div class="row justify-content-center mt-5">
            <div class="col-xl-6 col-lg-8 col-10 text-center lead">
                <p>
                    Vakyaansh has been envisioned to meet a goal of approx. 10,000 hours of diversified Indian voices.
                </p>
                <p>
                    A contribution of 30-45 mins voice per speaker can make Vakyaansh come closer to it’s vision.
                </p>
                <p>
                    <b>We know you can do more!</b>
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-xl-6 col-lg-8 col-10 text-center lead">
                <a href="/record" class="btn btn-primary btn-lg h6 w-50">Contribute More</a>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-3 col-6 text-center">
                <p class="text-muted">Come Back again to hit your Goalpost </p>
                <span class="text-primary">40%</span>
                <img src="/img/progress.svg" class="img img-fluid">
            </div>
            <div class="col-md-3 col-6 text-center text-muted">
                <p class="text-primary">Share it with your friends and family</p>
                <a href="https://www.instagram.com">
                    <img src="/img/insta.png" class="img img-fluid">
                </a>
                <span>&sdot;</span>
                <img src="/img/fb.png" class="img img-fluid">
                <span>&sdot;</span>
                <img src="/img/linkedin.png" class="img img-fluid">
                <span>&sdot;</span>
                <img src="/img/twitter.png" class="img img-fluid">
            </div>
        </div>
    </div>
    <%- include common/footer.ejs %>
</body>

</html>