<!doctype html>
<html>

<head>
    <title>Vakyansh: A crowdsourcing initiative for Indic languages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- google APIs -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- 3rd party libs -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- My custom css -->
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="css/thank-you.css">
</head>

<body>

    <%- include common/header.ejs %>
    <div class="container-fluid my-5 p-5 bg-thank-you h-100">
        <div class="text-center">
            <h1 class="display-5 font-wt-900 site-blue">Thank you for contributing!</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 my-auto text-muted text-right pr-0">
                <p id="hour-value" class="mb-0">5000</p>
                <p>/10000 hours</p>
            </div>
            <div class="col-5 text-left">
                <img src="/img/thanks.svg" class="img img-fluid w-100">
            </div>

        </div>
        <div class="row justify-content-center">
            <p class="ml-3 lead">
                Your contribution has got us <b><span id="user-contribution" class="">0 seconds</span></b>
                closer to our goal!!!
            </p>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-xl-6 col-lg-8 col-10 text-center lead">
                <p>
                    Vakyansh has been envisioned to meet a goal of approx. 10,000 hours of diversified Indian voices.
                </p>
                <p>
                    A contribution of 30-45 mins voice per speaker can make Vakyansh come closer to it’s vision.
                </p>
                <p>
                    <b>We know you can do more!</b>
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-3 col-md-6 col-8 text-center lead">
                <a href="/record" class="btn btn-primary btn-lg h6 w-100">Contribute More</a>
            </div>
        </div>
        <div id="progress-percent-wrapper" class="position-fixed text-center">
            <div id="graphcontainer" class="mx-auto">
                <div id="graphbackground"></div>
                <div id="graphbar"></div>
                <div id="graphforeground">
                </div>
            </div>
            <div>
                <span class="h6 text-primary" id="progress-percent">0</span><span class="text-primary">%</span>
                <p class="small">Come Back again to </br>hit your goalpost</p>
            </div>
        </div>
        <div class="text-primary mt-5 text-center">Share it with your friends and family</div>
        <div class="row justify-content-center mt-2 mb-6 bg-white">
            <div class="col-lg-3 col-sm-5 col-12 text-center">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//vakyansh.in/">
                    <img src="/img/fb-icon.svg" width="8%" alt="Share on Facebook">
                </a>
                <span>&sdot;</span>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//vakyansh.in/&title=Vakyansh%3A%20A%20crowdsourcing%20initiative%20for%20Indic%20languages&summary=&source=" >
                    <img src="/img/linkedin-icon.svg" width="8%" alt="Share on LinkedIn">
                </a>
                <span>&sdot;</span>
                <a href="https://twitter.com/intent/tweet?text=I%20contributed%20my%20voice%20on%20https%3A//vakyansh.in/%0APlease%20contribute%20your%20voice%20and%20help%20in%20this%20initiative" >
                    <img src="/img/twitter-icon.svg" width="8%" alt="Share on Twitter">
                </a>
            </div>
        </div>
    </div>
    <%- include common/footer.ejs %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="js/thank-you.js"></script>
</body>

</html>