<!doctype html>
<html>

<head>
    <title>Vakyansh: A crowdsourcing initiative for Indic languages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- google APIs -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- 3rd party libs -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- My custom css -->
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="css/thank-you.css">
</head>

<body>

    <%- include common/header.ejs %>
    <div class="container-fluid my-5 py-5 px-3 px-md-5 bg-thank-you h-100">
        <div class="text-center">
            <h1 class="display-5 font-wt-900 site-blue">Thank you for contributing!</h1>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-3 text-muted text-center text-sm-right align-self-sm-center align-self-end">
                <b><p id="hour-value" class="mb-0">0</p></b>
                <b><p class="mb-0">/10000 hours</p></b>
            </div>
            <div class="col-12 col-sm-6 text-left align-self-sm-center align-self-start">
                <img src="/img/thanks.svg" class="img img-fluid w-100" alt="Total Sentence Progress">
                <div class="bg-primary position-absolute rounded-pill" id="total-progress"></div>
                <div class="position-absolute rounded-pill" id="total-progress-bulb"></div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
           
            <div class="col-xl-6 col-lg-8 col-11 text-center">
                <p class="lead">
                    Your contribution has got us <b><span id="user-contribution">0 seconds</span></b>
                    closer to our goal!!!
                </p>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-xl-6 col-lg-8 col-11 text-center lead">
                <p>
                    Vakyansh has been envisioned to meet a goal of approx. 10,000 hours of diversified Indian voices.
                </p>
                <p>
                    A contribution of 30-45 mins voice per speaker can make Vakyansh come closer to it’s vision.
                </p>
                <p>
                    <b>We know you can do more!</b>
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-3 col-md-6 col-8 text-center lead">
                <a href="/record" class="btn btn-primary btn-lg h6 w-100">Contribute More</a>
            </div>
        </div> 
        <div class="text-primary mt-5 text-center">Share it with your friends and family</div>
        <div class="row justify-content-center mt-2 mb-6">
            <div class="col-lg-3 col-sm-5 col-12 text-center bg-white">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//vakyansh.in/" target="_blank" rel="noopener noreferrer">
                    <img src="/img/fb-icon.svg" width="8%" alt="Share on Facebook">
                </a>
                <span>&sdot;</span>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//vakyansh.in/&title=What%20If%20we%20tell%20you%20that%20you%20can%20have%20a%20Speech%20recognition%20product,%20that%20will%20be%20as%20Indian,%20as%20you%20and%20I.%20It%20will%20also%20be%20free%20of%20cost%20for%20every%20Indian.%20Make%20it%20happen%20by%20donating%20your%20voice%20today.%20Visit%20https%3A//vakyansh.in/&summary=What%20If%20we%20tell%20you%20that%20you%20can%20have%20a%20Speech%20recognition%20product,%20that%20will%20be%20as%20Indian,%20as%20you%20and%20I.%20It%20will%20also%20be%20free%20of%20cost%20for%20every%20Indian.%0AMake%20it%20happen%20by%20donating%20your%20voice%20today.%20Visit%20https%3A//vakyansh.in/&source=" target="_blank" rel="noopener noreferrer">
                    <img src="/img/linkedin-icon.svg" width="8%" alt="Share on LinkedIn">
                </a>
                <span>&sdot;</span>
                <a href="https://twitter.com/intent/tweet?text=What%20If%20we%20tell%20you%20that%20you%20can%20have%20a%20Speech%20recognition%20product,%20that%20will%20be%20as%20Indian,%20as%20you%20and%20I.%20It%20will%20also%20be%20free%20of%20cost%20for%20every%20Indian.%0AMake%20it%20happen%20by%20donating%20your%20voice%20today.%20Visit%20https%3A//vakyansh.in/" target="_blank" rel="noopener noreferrer">
                    <img src="/img/twitter-icon.svg" width="8%" alt="Share on Twitter">
                </a>
            </div>
        </div>

        <div id="progress-percent-wrapper" class="position-fixed text-center">
            <div id="graphcontainer" class="mx-auto">
                <div id="graphbackground"></div>
                <div id="graphbar"></div>
                <div id="graphforeground">
                </div>
            </div>
            <div>
                <span class="h6 text-primary" id="progress-percent">0</span><span class="text-primary">%</span>
                <p class="small">Come Back again to </br>hit your goalpost</p>
            </div>
        </div>
    </div>
    <%- include common/footer.ejs %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="js/thank-you.js"></script>
</body>

</html>