body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
* {
  box-sizing: border-box;
}
.pb-6{
    padding-bottom: 6rem;
}
div.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat fixed center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: auto;
}

div.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}

div.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  div.masthead {
    padding-top: 8rem;
    padding-bottom: 12rem;
  }
  div.masthead h1 {
    font-size: 3rem;
  }
}
.material-icons.md-48 {
  font-size: 48px;
}
