html,body{
    color: white;
    background: -webkit-linear-gradient(to right, #141e30, #243b55);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-sizing: border-box;
}
header a{
    font-size: 5rem;
    margin: 1rem;
    text-decoration: none;
    color: whitesmoke;
    }
.d-flex{
    display: flex;
    margin: 1.2rem;
}
.j-center{
    justify-content: center;
}
.j-sb{
    justify-content: space-between;
}
.j-sa{
    justify-content: space-around;
}
.j-se{
    justify-content: space-evenly;
}
.col-3,.col-4,.col-6
{
    padding-left: 10px;
    padding-right: 10px;
}
.col-6 {
    flex: 0 0 50%;
  }
  .col-3 {
    flex: 0 0 25%;
  }
  .col-4 {
    flex: 0 0 33.33333%;
  }
button {
    text-decoration: none;
    width: 150px;
    height: 70px;
    margin: 25px;
    padding: 10px;
    font-size: 1.2rem;
    box-shadow: 1px 1px 3px 3px white;
    border-radius: 4%;
    color: white;
    transition: all 0.2s;
  }
  button:enabled:hover{
      transform: scale(1.05,1.05);
  }
  button:disabled {
    background: #cccccc;
    opacity: 0.65;
  }
  .mt-5{
      margin-top: 5rem;
  }
  .fnt-2{
      font-size: 2rem;
  }
  
  .button1 {
    background-color: #F2385A;
  }
  
  .button2 {
    background-color: #3498DB;
    box-shadow: 1px 1px 3px 3px white;
  }
  .card{
      border: 1px solid whitesmoke;
      border-radius: 0.25rem;
      box-shadow: 2px 2px 5px 1px white;
  }
  select{
      width: 100%;
  }
  .container{
    margin-top: 5rem;
}
label,select{
    font-size: 1.3rem;
    padding: 0.4rem;
}

label{
    margin-right: 0.6rem;
}
select{
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px;
}
  
.h-150 {
    height: 150px;
  }
  .h-50 {
    height: 50px;
  }
  .small-btn {
    font-size: 1rem;
    padding: 0.1rem;
    box-shadow: 1px 1px 3px 3px white;
    border-radius: 10%;
    width: 120px;
    height: 50px;
    margin: 5px;
    color: white;
    transition: all 0.2s;

  }
  .recording {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 35px;
    height: 35px;
    font-size: 0;
    background-color: #F2385A;
    border: 0;
    border-radius: 35px;
    margin: 18px;
    outline: none;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0px 0px 5px 0px #F2385A;
    }
    65% {
      box-shadow: 0px 0px 5px 13px #F2385A;
    }
    90% {
      box-shadow: 0px 0px 5px 13px #F2385A;
    }
  }
  