<div class="test-mic-speakers-container col-12">
    <div class="col-12 test-mic-speakers-details d-none" id="test-mic-speakers-details">
        <div class="row justify-content-between mb-2 mb-md-4 mb-lg-4">
            <div class="col-lg-4 col-md-5 test-mic-heading">
                <p>
                    <img src="../../img/speaker.svg" class="pr-10">
                    <%= __('Test your Speaker') %>
                </p>
            </div>
            <div class="col-lg-1 col-md-1">
                <button class="test-mic-close" id="test-mic-close">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="#343A40"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="row justify-content-around mx-3 mx-lg-0 mx-xl-5 mb-2 align-items-center">
            <div class="col-lg-12 col-md-10 px-0 mt-2 mt-lg-0">
                <div class="row justify-content-center">
                    <audio controls="controls" id="test-speaker-hidden" style="display:none">
                        <source src="../../aud/sample_audio_file.mp3">
                    </audio>
                    <div class="col-lg-3 col-6 col-md-5 col-sm-5 mb-2 mb-lg-0 pl-0">
                        <button id="play-speaker" data-value="test-speaker" class="test-btn">
                            <img src="../../img/speaker.svg" class="pr-10">
                            <span id="test-speaker-text"><%= __('Test Speakers') %></span>
                        </button>
                    </div>
                    <div class="col-lg-9 col-6 col-md-7 col-sm-8 d-flex align-items-center">
                        <canvas class="w-100 test-canvas" id="speaker-canvas" style="background-color:#fff"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>