<div class="report-btn-container">
    <button class="btn" id="report_btn" type="button">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 11V5H11V11H9Z" fill="#959595"/>
            <path d="M10 14C10.5523 14 11 13.5523 11 13C11 12.4477 10.5523 12 10 12C9.44771 12 9 12.4477 9 13C9 13.5523 9.44771 14 10 14Z" fill="#959595"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.73576 19.6474L6.67338 17.0042C7.71408 17.3253 8.83372 17.5 10 17.5C15.5228 17.5 20 13.5825 20 8.75C20 3.91751 15.5228 0 10 0C4.47715 0 0 3.91751 0 8.75C0 10.8465 0.842648 12.7708 2.24776 14.2777L1.73576 19.6474ZM3.28595 13.9248L2.97914 13.5957C1.72877 12.2548 1 10.5683 1 8.75C1 4.59105 4.89983 1 10 1C15.1002 1 19 4.59105 19 8.75C19 12.909 15.1002 16.5 10 16.5C8.93371 16.5 7.91345 16.3403 6.96822 16.0486L6.5694 15.9256L2.9083 17.8854L3.28595 13.9248Z" fill="#959595"/>
        </svg>
        <%= __('Report') %>
    </button>
</div>
<script async src="../../js/common/report-btn.js"></script>