<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/common/report-btn.css">
<div class="report-btn-container">
  <button class="btn" id="report_btn" type="button">
    <img src="../../img/report.svg">
    <%= __('Report') %>
  </button>
</div>
<script async src="../../js/common/report-btn.js"></script>
