<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/common/report-btn.css">
<div class="report-btn-container m-0">
  <button class="btn" id="report_btn" type="button">
    <img src="/img/report.svg" class="pr-0 pr-md-2 pr-lg-2">
    <span class="d-xs-none d-inherit"> <%= __('Report') %></span>
  </button>
</div>
<script async src="/js/common/report-btn.js"></script>
