.root {
  background: linear-gradient(to right, #ffa345, #76bdff, #439908);
  box-shadow: 0 4px 40px rgba(0, 123, 255, 0.4);
  padding: 2px;
  border-radius: 20px;
  overflow: hidden;
}

.inner {
  border-radius: 20px;
}
