.root {
  background: linear-gradient(to right, #ffa345, #76bdff, #439908);
  border-radius: 20px;
  box-shadow: 0 4px 40px rgba(0, 123, 255, 0.4);
  overflow: hidden;
  padding: 2px;
}

.inner {
  border-radius: 20px;
}
