<div class="row mx-0 mt-3">
    <div class="image-container col-12" style="border:1px dashed rgb(0,0,0,.2);padding:30px;border-radius:12px">
        <img id="view-image" src="" alt="image" class="img-fluid w-100" height="100">
    </div>
</div>