<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/common/dekhoImageBox.css">
<div class="row mx-0 mt-3">
    <div class="image-container col-12">
        <img id="view-image" src="" alt="image" class="img-fluid">
    </div>
</div>