.image-container{
  border:1px solid rgb(0,0,0,.2);
  padding:30px;
  border-radius:12px;
  background-image: url('/img/ocrBgImg.svg');
  background-repeat: repeat;
  background-color: #ffffff;
}

@media screen and (max-width: 768px){
  .image-container{
    padding:10px !important;
  }
}