@media screen and (max-width: 991px) {
    #start_recording, #start_validating {
        width: 120px;
    }

    .left-active #left-p-2, .right-active #right-p-2 {
        position: relative !important;
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    #start_recording, #start_validating {
        width: 100px;
    }
    .left-active #left-p-2, .right-active #right-p-2 {
        position: relative !important;
        margin-top: 2rem;
    }
    .card {
        min-height: 190px !important;
    }
}

@media (min-width: 992px) {
    .card{
        height: 400px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1279px) {
    .card img {
        width: 7rem;
    }
    #left-p-2 {
        bottom: 0rem !important;
    }
    #right-p-2 {
        bottom: 0rem !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.spinner {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border-width: 0.5rem;
    border-color: #007bff;
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.left-logo{
    background-color: #42B2C6;
    border-radius: 50%;
    box-shadow: 0px 0px 12px 8px rgb(105 203 220 / 40%);
    justify-self: right;
    width: 120px;
    height: auto;
}

.right-logo{
    background:#3e6dd4;
    border-radius: 50%;
    box-shadow: 0px 0px 12px 8px rgba(102, 176, 255, 0.4);
    justify-self: right;
    width: 120px;
    height: auto;
}

.card{
    background-image: url(../img/NEW-WAVE.svg);
    mix-blend-mode: normal;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    min-height: 100px;
    background-repeat: no-repeat;
}

.card2 {
    background-position: right bottom;
}

.card1 {
    background-position: left bottom;
}

@media screen and (max-width: 480px) {
    #start_recording, #start_validating {
        width: 85px;
    }
    .left-active #left-p-2, .right-active #right-p-2 {
        position: relative !important;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 320px) {
    #start_recording, #start_validating {
        width: 64px;
    }
}

.card_container.col-10{
    flex: 0 0 90%;
    max-width: 90%;
}

