@media screen and (min-width: 992px){
    .home-badge-row img {
        width: 7rem;
    }

    .persuade-quote  {
        font-size: 30px;
    }

    .home-badge-link-row {
        font-size: 30px;
    }

    .home-heading-2{
        font-size: 30px;
    }

    .card1{
        background-position: left bottom;
    }

    .card2{
        background-position: bottom;
    }

    .card3 {
        background-position: bottom;
    }

    .card4 {
        background-position: right bottom;
    }
}

@media screen and (max-width: 991px) {
    .home-badge-row img {
        width: 120px;
    }

    .persuade-quote  {
        font-size: 30px;
    }

    .home-badge-link-row {
        font-size: 30px;
    }

    .home-heading-2{
        font-size: 30px;
    }
    .card1{
        background-position: left bottom;
    }

    .card2{
        background-position: bottom;
    }

    .card3 {
        background-position: bottom;
    }

    .card4 {
        background-position: right bottom;
    }

}

@media (max-width: 768px) {
    .home-badge-row img {
        width: 100px;
    }

    .home-badge-row  {
        text-align: center;
    }

    .persuade-quote  {
        font-size: 28px;
    }

    .home-badge-link-row {
        font-size: 28px;
    }

    .home-heading-2{
        font-size: 28px;
    }

    .card1{
        background-position: bottom;
    }

    .card2{
        background-position: bottom;
    }

    .card3 {
        background-position: bottom;
    }

    .card4 {
        background-position: bottom;
    }
}

@media screen and (max-width: 480px) {
    .home-badge-row img {
        width: 80px;
    }

    .home-badge-row  {
        text-align: center;
    }

    .persuade-quote {
        font-size: 20px;
    }

    .home-badge-link-row {
        font-size: 24px;
    }

    .home-heading-2{
        font-size: 24px;
    }

    .card1{
        background-position: bottom;
    }

    .card2{
        background-position: bottom;
    }

    .card3 {
        background-position: bottom;
    }

    .card4 {
        background-position: bottom;
    }
}

@media screen and (max-width: 320px) {
    .home-badge-row img{
        width: 64px;
    }

    .persuade-quote  {
        font-size: 20px;
    }

    .home-badge-row  {
        text-align: center;
    }

    .home-badge-link-row {
        font-size: 20px;
    }

    .home-heading-2{
        font-size: 20px;
    }

    .card1{
        background-position: bottom;
    }

    .card2{
        background-position: bottom;
    }

    .card3 {
        background-position: bottom;
    }

    .card4 {
        background-position: bottom;
    }
}

@media screen and (max-width: 280px) {
    .home-badge-row img{
        width: 60px;
    }

    .home-badge-row  {
        text-align: center;
    }

    .persuade-quote {
        font-size: 18px;
    }

    .home-badge-link-row {
        font-size: 18px;
    }

    .home-heading-2{
        font-size: 18px;
    }

    .card1{
        background-position: bottom;
    }

    .card2{
        background-position: bottom;
    }

    .card3 {
        background-position: bottom;
    }

    .card4 {
        background-position: bottom;
    }
}

