<div class="col-7 col-sm-8 offset-2 offset-lg-3 col-lg-6 col-xl-4 offset-xl-4">
    <div class="progress mt-1">
      <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress_bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10" style="width:.5%"></div>
    </div>
  </div>
  <div class="col-3 col-sm-2">
    <span class="" id="currentSentenceLbl"></span> <span class="">/</span>
    <span class="" id="totalSentencesLbl"></span>
  </div>
<script src="../../js/common/progressBar.js"></script>