<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/common/sourceInfo.css">

<button id="show_source_button" class="btn ds-float d-none" type="button" data-toggle="modal" data-target="#data_source_modal">
    <img src="../../img/data-source.svg" class="my-ds-float" alt="data source button"> <span class="hide-on-mobile">Data Source</span>
</button>

<div class="modal fade" id="data_source_modal" tabindex="-1" aria-labelledby="DataSourceModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div id="modal_data_source" class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content border-2" style="padding:5% 2% 2% 2%">
            <div class="modal-header d-block border-0">
                <h4 class="modal-title text-center">
                    <%= __('Opt-out Notification') %>
                </h4>
                <button type="button" id="datasource_close_btn" class="btn btn-close text-muted" data-bs-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body" style="padding:20px 34px 45px 32px">
                <div class="mb-4">
                    <div id="div-ds-source-name">
                        <label class="form-check-label label-color-feedback">
                            <%= __('Source') %>: <a class="spn-source-info"></a>
                        </label>
                    </div>
                </div>                
                <div class="md-4">
                    <div class="form-row">
                        <label class="form-check-label label-color-feedback">
                            <%- __('If you are the copyright holder of this data and believe it should not be used on the platform, please send us an email to <span class="email">optout@bhashini.gov.in</span><span class="tooltiptext" id="myDataSourceTooltip">Copy to clipboard</span> with evidence that you are indeed the copyright holder of this data.') %>
                        </label>
                    </div>
                </div>
                <div class="md-4 mt-4">
                    <div class="form-row">
                        <label class="form-check-label label-color-feedback">
                            <%= __('We will attempt to validate the same and remove the data from our platform within 15 days on a best effort basis.') %>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../js/common/sourceInfo.js"></script>
