<div class="col-lg-4 col-md-6 col-sm-8 col-12 text-center my-5">
  <audio class="d-none" id="player" controls tabindex="-1"></audio>
  <div class="text-danger mt-2 d-none" id="audio-small-error">
    <i class="material-icons align-middle">error</i>
    <span class="align-middle"> <%= __('Audio recording is too small. Please Re-record') %> </span>
  </div>
</div>
