<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/common/breadcrumb.css">
<div class="row mx-0 mt-2" id="breadcrumb-header">
    <img src="<%= `/img/${locale}-${img}`%>" alt="module_logo" width="30" height="30" style="margin-top:5px">
    <a class="m-0 align-self-center text-decoration-none font-weight-bold" style="padding-right:10px;padding-left:10px;color:#142747;font-size:14px;font-family:Rowdies,'Helvetica Neue',Helvetica,Arial,sans-serif"><%= __(MODULE) %> <span style="color:#ffbf00"><%= __('India') %></span></a>
    <div id="tilt_line" style="height:14px;margin-top:12px"></div>
    <p class="m-0 align-self-center" style="color:#111;font-size:12px;font-family:Rowdies,'Helvetica Neue',Helvetica,Arial,sans-serif"><%= PAGE_TITLE %></p>
</div>