/* mobile */

.social-share-block{
  border: 1px solid rgba(0, 123, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  width: max-content;
  padding: 5px 12px;
}

/* mobile */

@media (max-width: 767px) {
  .social-share-block{
    position: inherit;
    bottom: 0;
    width: 100%;
  }
}

