/* mobile */

.social-share-block {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  padding: 3px 12px 7px;
}

/* mobile */

@media (max-width: 992px) {
  .social-share-block {
    position: inherit;
    bottom: 0;
    width: 100%;
    padding: 5px 12px 7px;
  }

  .share-on {
    line-height: 21px;
  }
}

