<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/common/sharableLink.css">
<div id="social-links">
    <script>
      $(document).ready(function () {
        const url = window.location.href;
        if (url.includes('uat-nplt.vakyansh.in')) {
          const links = $('#social-links')
          links.addClass('d-none');
        }
      })
    </script>
    <div class="my-2 mt-lg-4 px-3 pb-4 pb-lg-0 pb-md-0 px-lg-0 px-md-0">
        <div class="text-center bg-white social-share-block m-auto">
            <span class="share-on mx-1"><%= __('Share on') %></span>
            <a href="<%- `https://www.facebook.com/sharer/sharer.php?u=bhashini.gov.in/bhashadaan/{locale}/home.html` %>" target="_blank" rel="noopener noreferrer" class="text-decoration-none mx-1">
                <img src="/img/fb-icon.svg" width="20" height="20" alt="Share on Facebook">
            </a><span>&nbsp</span>
            <a id="linkedin_share" href="<%- `https://www.linkedin.com/shareArticle?mini=true&url=https://bhashini.gov.in/bhashadaan/${locale}/home.html` %>" target="_blank" rel="noopener noreferrer" class="text-decoration-none mx-1">
                <img src="/img/linkedin-icon.svg" width="20" height="20" alt="Share on LinkedIn">
            </a><span>&nbsp</span>
            <a id="twitter_share" href="https://twitter.com/intent/tweet?text=I've contributed towards building open language repository for India on https://bhashini.gov.in/bhashadaan You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications. Do your bit and empower the language?" target="_blank" rel="noopener noreferrer" class="text-decoration-none mx-1">
                <img src="/img/twitter-icon.svg" width="20" height="20" alt="Share on Twitter">
            </a><span>&nbsp</span>
            <a id="whatsapp_share" href="https://api.whatsapp.com/send?text=I've contributed towards building open language repository for India on https://bhashini.gov.in/bhashadaan You and I can make a difference by donating our voices that can help machines learn our language and interact with us through great linguistic applications. Do your bit and empower the language?" target="_blank" rel="noopener noreferrer" class="text-decoration-none mx-1">
                <img src="/img/whatsapp.svg" width="20" height="20" alt="Share on Whatsapp">
            </a>
        </div>
    </div>
</div>