.root {
  background: url('/images/home_page_bg_mobile.svg') no-repeat top center;

  @include media-breakpoint-up(md) {
    background: url('/images/home_page_bg.svg') no-repeat top center;
  }

  &::before {
    background: url('/images/left_triangle_mobile.svg') no-repeat;
    content: '';
    height: 164px;
    left: 0;
    position: absolute;
    top: 6.25rem;
    width: 46px;

    @include media-breakpoint-up(sm) {
      top: 4.375rem;
    }

    @include media-breakpoint-up(md) {
      background: url('/images/left_triangle.svg') no-repeat;
      height: 224px;
      width: 4.375rem;
    }
  }

  &::after {
    background: url('/images/right_triangle_mobile.svg') no-repeat;
    content: '';
    height: 91px;
    position: absolute;
    right: 0;
    top: 14.25rem;
    width: 41px;

    @include media-breakpoint-up(sm) {
      top: 12.5rem;
    }

    @include media-breakpoint-up(md) {
      background: url('/images/right_triangle.svg') no-repeat;
      height: 146px;
      top: 8.75rem;
      width: 69px;
    }
  }
}
