@import '../../styles/mixins';

.root {
  @include image-path('home_page_bg_mobile.svg', 'no-repeat top center');

  @include media-breakpoint-up(md) {
    @include image-path('home_page_bg.svg', 'no-repeat top center');
  }

  &::before {
    @include image-path('left_triangle_mobile.svg', 'no-repeat');
    content: '';
    height: 164px;
    left: 0;
    position: absolute;
    top: 6.25rem;
    width: 46px;

    @include media-breakpoint-up(sm) {
      top: 4.375rem;
    }

    @include media-breakpoint-up(md) {
      @include image-path('left_triangle.svg', 'no-repeat');
      height: 224px;
      width: 4.375rem;
    }
  }

  &::after {
    @include image-path('right_triangle_mobile.svg', 'no-repeat');
    content: '';
    height: 91px;
    position: absolute;
    right: 0;
    top: 14.25rem;
    width: 41px;

    @include media-breakpoint-up(sm) {
      top: 12.5rem;
    }

    @include media-breakpoint-up(md) {
      @include image-path('right_triangle.svg', 'no-repeat');
      height: 146px;
      top: 8.75rem;
      width: 69px;
    }
  }
}
