<link rel="stylesheet" type="text/css" href="../../css/common/speaker-testing.css" />
<div class="col-lg-5 col-md-10 px-0 mt-2 mt-lg-0">
  <div class="row justify-content-center">
    <audio controls="controls" id="test-speaker-hidden" style="display: none">
      <source src="../aud/sample_audio_file.mp3" />
    </audio>
    <div class="col-lg-5 col-7 col-md-5 col-sm-5 mb-2 mb-lg-0">
      <button id="play-speaker" data-value="test-speaker" class="test-btn">
        <svg
          width="20"
          height="17"
          viewBox="0 0 20 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          id="speaker-svg"
        >
          <path
            d="M7.245 1.50469C6.9646 1.39249 6.6486 1.45309 6.431 1.66289L2.5428 5.47809C2.4744 5.54529 2.4172 5.62149 2.3848 5.71349H0.2814C0.1256 5.71349 0 5.83449 0 5.98929V10.4425C0 10.5951 0.1256 10.7183 0.2814 10.7183H2.3848C2.4172 10.8037 2.4744 10.8865 2.5428 10.9493L6.4308 14.7633C6.5788 14.9001 6.7728 14.9763 6.9644 14.9763C7.0576 14.9763 7.1518 14.9583 7.2448 14.9269C7.5206 14.8081 7.7044 14.5435 7.7044 14.2543V2.17969C7.7044 1.88229 7.5208 1.62009 7.245 1.50469Z"
            fill="#959595"
          />
          <path
            d="M11.1431 5.68268C10.7407 5.29588 10.0455 5.29588 9.65093 5.68268C9.44913 5.87868 9.33593 6.14128 9.33593 6.42148C9.33593 6.69628 9.44913 6.95528 9.65093 7.15028C9.93693 7.43628 10.1005 7.81508 10.1005 8.20968C10.1005 8.61788 9.93693 8.99448 9.65093 9.28148C9.22833 9.67828 9.22833 10.3421 9.65093 10.7457C9.84933 10.9453 10.1129 11.0485 10.3955 11.0485C10.6767 11.0485 10.9425 10.9453 11.1431 10.7457C11.8337 10.0685 12.2149 9.16928 12.2149 8.20948C12.2149 7.25788 11.8337 6.36328 11.1431 5.68268Z"
            fill="#959595"
          />
          <path
            d="M13.8921 2.98992C13.4929 2.59972 12.7999 2.59972 12.4009 2.98992C11.9861 3.39572 11.9861 4.04832 12.4009 4.45632C13.4279 5.46312 13.9863 6.78712 13.9863 8.20992C13.9863 9.63152 13.4279 10.9635 12.4009 11.9747C11.9861 12.3851 11.9861 13.0399 12.4009 13.4435C12.5915 13.6407 12.8651 13.7507 13.1453 13.7507C13.4279 13.7507 13.6947 13.6407 13.8921 13.4435C15.3181 12.0487 16.1029 10.1923 16.1029 8.20992C16.1029 6.24212 15.3181 4.38252 13.8921 2.98992Z"
            fill="#959595"
          />
          <path
            d="M15.1546 0.29415C14.7398 0.70235 14.7398 1.36055 15.1546 1.76175C16.917 3.48715 17.879 5.77435 17.879 8.20935C17.879 10.6469 16.9168 12.9473 15.1546 14.6717C14.9462 14.8669 14.8428 15.1247 14.8428 15.4051C14.8428 15.6809 14.9462 15.9453 15.1546 16.1337C15.3452 16.3379 15.6142 16.4387 15.9012 16.4387C16.1814 16.4387 16.4482 16.3377 16.6458 16.1337C18.8072 14.0169 20.0002 11.2051 20.0002 8.20935C20.0002 5.22495 18.8072 2.41335 16.6502 0.29415C16.2534 -0.09805 15.5426 -0.09805 15.1546 0.29415Z"
            fill="#959595"
          />
        </svg>
        <span id="test-speaker-text"><%= __('Test Speakers') %></span>
      </button>
    </div>
    <div class="col-lg-7 col-10 col-md-7 col-sm-8 d-flex align-items-center">
      <canvas class="w-100 test-canvas" id="speaker-canvas" style="background-color: #fff"></canvas>
    </div>
  </div>
  <div class="row noise-container only-display">
    <div class="offset-lg-5 offset-md-5 col-lg-7 col-12 col-md-7 ambient-noise invisible">
      <%= __('Please speak clearly') %>
    </div>
  </div>
</div>
<script async src="../../common/speaker-testing.js"></script>
