<div class="row d-none" id="milestone_text">
    <div class="col-12 col-lg-4 col-md-5 justify-content-between mt-lg-4 pt-lg-3">
        <div class="text-center">
            <img src="<%= `/img/suno_bronze_badge.svg`%>" alt="Bronze Badge" width="130" height="160" id="reward-img" class="reward-img">
        </div>
    </div>
    <div class="col-12 col-lg-8 col-md-7 msg-box mt-lg-4 pt-lg-2">
        <h4 class="mb-lg-5 mb-md-4 mb-3 mt-2 mt-lg-0 mt-md-0"><%- __(`You’ve earned your ${module} India <span id="current_badge_name"></span> <span>Bhasha Samarthak</span> Badge`)%></h4>
        <p id="translated-text"><%- badgeMilestoneMessage %></p>
    </div>
    <div class="col-12 download-row d-flex flex-column flex-lg-row mt-3 mt-lg-4 mt-md-0 pt-3">
        <button class="btn download-badge-btn mx-3 mx-lg-0 mx-md-0 mr-lg-3 mr-md-3" data-badge="" download id="download_pdf"><span class="mr-2"><%= __('Download')%></span>
            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.14894 0C7.47796 0 7.74468 0.262077 7.74468 0.585366V7.45054L9.96562 5.26829L10.7234 6.01288L7.14894 9.52507L3.57447 6.01288L4.33226 5.26829L6.55319 7.45054V0.585366C6.55319 0.262077 6.81992 0 7.14894 0Z" fill="#142745"/>
                <path d="M1.19149 7.02439C1.19149 6.7011 0.924765 6.43902 0.595745 6.43902C0.266724 6.43902 0 6.7011 0 7.02439V11.4146C0 11.7379 0.266724 12 0.595745 12H13.4043C13.7333 12 14 11.7379 14 11.4146V7.02439C14 6.7011 13.7333 6.43902 13.4043 6.43902C13.0752 6.43902 12.8085 6.7011 12.8085 7.02439V10.8293H1.19149V7.02439Z" fill="#142745"/>
            </svg>
        </button>
    </div>
</div>

