@import '../../styles/mixins';

.root {
  @include image-path('home_page_bg_mobile.svg', 'no-repeat top center');
  background-color: var(--secondary-color);
  position: relative;

  @include media-breakpoint-up(md) {
    @include image-path('home_page_bg.svg', 'no-repeat top center');
    background-color: var(--secondary-color);
  }

  &::before {
    @include image-path('left_triangle_mobile.svg', 'no-repeat');
    content: '';
    height: 164px;
    left: 0;
    margin: auto;
    opacity: 0.5;
    position: absolute;
    top: 5rem;
    width: 46px;

    @include media-breakpoint-up(lg) {
      @include image-path('left_triangle.svg', 'no-repeat');
      height: 224px;
      top: 260px;
      width: 70px;
    }
  }

  &::after {
    @include image-path('right_triangle_mobile.svg', 'no-repeat');
    content: '';
    height: 91px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 16rem;
    width: 41px;

    @include media-breakpoint-up(lg) {
      @include image-path('right_triangle.svg', 'no-repeat');
      height: 146px;
      top: 260px;
      width: 69px;
    }
  }
}

.wrapper {
  z-index: 1;
}
