h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.lh-7 {
    line-height: 1.7;
}
@media (min-width: 321px) {
    html {
        font-size: 12px;
    }
    .display-5 {
        font-size: 2.2rem;
    }
}

@media (min-width: 448px) {
    html {
        font-size: 13px;
    }
    .display-5 {
        font-size: 2.5rem;
    }
}
@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
}


.card{
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    justify-content: center;
}

.lh-32{
    line-height: 32px;
}

.table-img{
    width: 90px;
    height: auto;
}

.px-16{
    padding-right: 16px !important;
    padding-left: 16px !important;
}

@media (max-width: 320px) {
    h1{
        font-size: 32px;
        justify-content: center;
    }
    .table-responsive-xs {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive-xs > .table-bordered {
        border: 0;
    }
}

@media (max-width: 768px) {
    .font-weight-normal-sm {
        font-weight: 300 !important;
    }
}

@media (min-width: 768px) {
    .font-weight-light-lg {
        font-weight: 400 !important;
    }
}

@media (max-width: 1240px) {
    .card img {
        width: 150px;
        height: auto;
    }
}

.spinner {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border-width: 0.5rem;
    border-color: #007bff;
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

