#feedback_subject, #submit_btn {
    height: 48px;
}

#back_btn {
    cursor: pointer;
}

#feedback_description {
    resize: none;
}

#count_message {
    position: absolute;
    padding: .2em .6em .3em;
    right: 16px;
    bottom: 0;
}

#back_to_home_btn, #submit_btn {
    width: 50%;
}

@media screen and (max-width: 599px) {
    #back_to_home_btn, #submit_btn {
        width: 75%;
    }
    #feedback_title_container {
        justify-content: center;
    }
    .no_xs_margin {
        margin: 0;
    }
}
