.bg-thank-you {
  background-size: cover;
}

.thank-you-title {
  width: 85%;
  margin: 0 auto;
}

#total-progress {
  width: 0%;
  height: 12.68%;
  top: 48%;
  left: calc(15px + 3.7%);
  transition: width 1s linear;
}
#total-progress-bulb {
  width: 11%;
  height: 45.5%;
  top: 30%;
  left: 75.56%;
}


.spinner {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  border-width: 0.5rem;
  border-color: #007bff;
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.contribuion-info,
.stats-container {
  border-radius: 34px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.champion-ribbon{
  position: absolute;
  transform: rotate(-45deg);
  top: 40px;
  left: -56px;
  width: 240px;
  background: linear-gradient(49.38deg, #007bff -227.24%, #89d6e3 169.12%);
  padding: 1rem;
  font-size: 14px;
  color: #fff;
}

.spree-ribbon{
  position: absolute;
  transform: rotate(-45deg);
  top: 40px;
  left: -56px;
  width: 240px;
  max-width: 240px;
  background: linear-gradient(49.38deg, #007bff -227.24%, #89d6e3 169.12%);
  padding: 1rem;
  font-size: 14px;
  color: #fff;
}

.w-80 {
  width: 75%;
}

.time {
  position: absolute;
  right: -55px;
  top: -1px;
  font-size: 12px;
}

.time-contributed {
  background-color: #fcc232;
}

.time-validated {
  background-color: #83e661;
}

.msg-box{
  text-align: left;
}

.badges_information {
  bottom: 36px;
}

@media screen and (min-width: 599px) {
  .badges_information {
    position: absolute;
    bottom: 36px;
  }
}

@media screen and (max-width: 768px) {
  .reward-img {
    width: 150px;
    height: auto;
  }
}

@media screen and (max-width: 599px) {
  .contribuion-info,
  .stats-container {
    margin: 8px;
  }

  .msg-box{
    text-align: center;
  }

  .stats-container > div {
    flex-direction: column;
    align-items: flex-start !important;
    width: 90%;
    margin: 0 auto;
  }

  .stats-container .title {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
  }

  .stats-container .most-data-recorded,
  .stats-container .lang-data-recorded {
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
  }

  .stats-container .w-80 {
    width: 60%;
  }

  .stats-container .time {
    right: 0;
    top: -2px;
  }

  .thank-you-title {
    margin-top: 45px;
    width: 75%;
  }

  .champion-ribbon {
    left: -70px;
  }
}

@media screen and (max-width: 414px) {
  .spree-ribbon{
    max-width: 240px;
    width: 240px;
    left: -60px;
  }
}

@media screen and (max-width: 375px) {
  .spree-ribbon{
    width: 240px;
    max-width: 240px;
  }

  .reward-img {
    width: 100px;
    height: auto;
  }
}



@media screen and (max-width: 280px) {
  .spree-ribbon{
    width: 240px;
    left: -65px;
    max-width: 240px;
  }

  .reward-img {
    width: 80px;
    height: auto;
  }
}

.disable{
  opacity: 0.2;
}

.enable{
  cursor: pointer;
}
