@import '../../styles/mixins';

.header {
  height: 3.5rem;
  top: 0;

  @include media-breakpoint-up(md) {
    height: 4.5rem;
  }
}

.wrapper {
  @include image-path('home_page_bg_mobile.svg', 'no-repeat top center');

  @include media-breakpoint-up(md) {
    @include image-path('home_page_bg.svg', 'no-repeat top center');
  }
}

.content {
  margin-top: 9rem;

  @include media-breakpoint-up(md) {
    margin-top: 15.5rem;
  }
}
