<div class="row w-100 m-auto" style="max-width:1350px">
    <div class="col-12 mt-4">
        <div class="" style="padding:20px">
            <h1>
                <%= __(name) %>
            </h1>
            <p>
                <%= __(intro) %>
            </p>
        </div>
        <div class="row mr-0 col-12 ml-0 pl-lg-4 pl-md-4 p-0">
            <div class="col-4" style="border-bottom:2px solid #f49608"></div>
            <div class="col-4" style="border-bottom:2px solid #4d82f7"></div>
            <div class="col-4" style="border-bottom:2px solid #42bf2e"></div>
        </div>
    </div>
</div>