<div class="col-12 col-md-8 col-lg-10 offset-lg-1 mt-4">
    <div class="ml-4" style="padding:20px;background:rgba(223,236,251,.3);border-left:10px solid #dfecfb">
        <h3> <%= __(name) %></h3>
        <p style="font-style:italic"> <%= __(intro) %></p>
    </div>
</div>