.module-intro-row-cover{
  background-image: url('/img/characters-mobile.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: initial;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .module-intro-row-cover {
    background-image: url('/img/characters.svg');
  }
}

#moduleLogo img{
  max-width: 100%;
}

@media (max-width: 767px) {
  .para-font {
    font-size: 12px;
  }

  #moduleLogo img{
    width: 55px;
    height: 50px;
  }
  .module-intro-heading{
    font-size: 20px;
  }

}

@media (min-width: 767px) {
  .para-font {
    font-size: 20px;
  }
}
