<div class="row">
    <div class="col-12 col-md-12 col-lg-10 offset-lg-1 mt-4">
        <div class="row m-0">
            <div class="mx-2 col-12 col-lg-3 col-md-4 col-sm-6 mt-lg-1 mt-md-1 text-primary">
                <%= __('Select the language for contribution') %>:
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-lg-0 px-md-0 px-4 mt-lg-0 mt-md-0 mt-3">
                <div class="row m-0">
                    <select class="btn dropdown-toggle h6 w-90 rounded text-primary" id="from-language" style="height:40px;padding:0;padding:0 10px;border-color:#959595;color:#959595">

                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/common/languageNavBar.js"></script>