.root {
  align-items: center;
  background-color: var(--text-white);
  box-shadow: 0 -2px 12px 0 var(--text-light-blue);
  color: var(--primary-color);
  display: flex;

  @include media-breakpoint-up(lg) {
    height: 4rem;
  }
}

.link {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  line-height: 1.5rem;

  &:hover {
    color: var(--primary-color);
  }
}
