.test-mic-speakers-container {
    padding: 1rem 0 1rem;
    display: flex;
    justify-content: flex-end;
}

.test-mic-speaker {
    padding: 0 3rem;
    min-width: fit-content;
}

.test-mic-speaker button {
    border: 1px solid #959595;
    color: #959595;
}

.test-mic-speaker svg {
    margin-right: 5px;
    margin-bottom: 2px;
}

.test-mic-speakers-details {
    background-color: #F8F9FA;
    padding: 1rem 1rem 0.5rem;
}

.test-mic-speakers-details p {
    color: #959595;
    font-size: 0.85rem;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .test-mic-speaker {
        padding: 0;
    }
    .test-mic-speakers-container {
        justify-content: center;
        padding: 1rem 0;
    }
    .test-mic-heading {
        display: none;
    }
    .noise-container {
        text-align: center;
    }
    .xs-radio-label {
        margin-top: 2px;
        margin-left: 2px;
    }
    .only-display {
        display: none;
    }
}