.header {
  font-family: 'Rowdies', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }
}

.badge {
  margin: 0 0.625rem;
  width: 4.5rem;

  @include media-breakpoint-up(sm) {
    width: 8rem;
  }

  @include media-breakpoint-up(lg) {
    width: 8.75rem;
  }

  &:last-child {
    margin-right: 0;
  }
}

.knowMore {
  color: #007bff;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.75rem;

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
