.root {
  border-radius: 1.25rem;
  box-shadow: #ffbf00 0 8px 0;
}

.stat {
  border-top: 1px solid #d8d8d8;

  @include media-breakpoint-up(md) {
    border-left: 1px solid #d8d8d8;
    border-top: 0;
  }

  &:first-child {
    border-top: 0;

    @include media-breakpoint-up(md) {
      border-left: 0;
    }
  }
}

.count {
  font-family: 'Rowdies', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.initiative {
  color: #fff;

  text-transform: uppercase;
}
