<footer>
    <div class="d-flex">
        <div class="col-6 ml-1">
            <h3>
                EkStep Foundation
            </h3>
            <label>
                Copyright © 2019 EkStep Foundation . All Rights Reserved
            </label>
        </div>
        <div class="col-3">
            <ul>
                <li class="mb-1">
                    <a href="/contact-us">Contact Us</a>
                </li>
                <li>
                    <a href="/about-us">About Us</a>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul>
                <li class="mb-1">
                    <a href="/privacy-policy">Privacy Policy</a>
                </li>
                <li>
                    <a href="/terms-and-conditions">Terms & Conditions</a>
                </li>
            </ul>
        </div>
    </div>
</footer>