<div class="modal fade" data-backdrop="static" data-keyboard="false" id="profanityThankYouModal" tabindex="-1" role="dialog" aria-labelledby="profanityThankYouModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content p-4 border-primary border-2">
            <div class="modal-header d-block border-0">
                <h1 class="modal-title text-center">
                    <%= __('Thank you for contributing!') %>
                </h1>
            </div>
            <div class="modal-body px-6">
                <div class="form-group mt-3">
                    
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-12" data-toggle="tooltip">
                        <a href="/en/<%= type %>/profanity.html" class="btn btn-primary h6 shadow w-100 rounded p-2">
                            <%= __('Contribute More') %>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
</div>