<div class="contribution-data d-none" id="languages-wrapper">
    <p class="mb-1" id="languages-value"></p>
    <p class="mb-0">
        <%= __('languages contributed') %>
    </p>
</div>
<div class="contribution-data">
    <p class="mb-1" id="speaker-value"></p>
    <p class="mb-0">
        <%= __('speakers contributed') %>
    </p>
</div>
<div class="contribution-data">
    <p class="mb-1" id="contributed-value"></p>
    <p class="mb-0">
        <%= __('hours recorded') %>
    </p>
</div>
<div class="contribution-data">
    <p class="mb-1" id="validated-value"></p>
    <p class="mb-0">
        <%= __('hours validated') %>
    </p>
</div>
</div>