.action {
  max-width: 14rem;
}

.actionIcon {
  width: 5rem;

  @include media-breakpoint-up(md) {
    width: 8.125rem;
  }

  img {
    max-width: 100%;
  }

  &Green {
    box-shadow: 0 0 12px 8px rgba(66, 178, 198, 0.12);
  }

  &Blue {
    box-shadow: 0 0 12px 8px rgba(102, 176, 255, 0.12);
  }
}
