<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/common/back-btn.css">
<button class="btn btn-link p-0 back-btn">
    <a href="<%= url %>" class="nav-link">
        <span class="material-icons" style="vertical-align:sub">
arrow_back
</span>
        <span class="back-text"><%= __('Back') %></span>

    </a>
</button>