.back-btn {
  margin-top:-15px;
  margin-bottom:10px
}

.back-btn a {
  font-size: 20px;
  line-height: 29px;
}

.back-btn a .material-icons {
  padding-top: 3px;
}

.back-btn a .back-text {
  margin-left: 8px;
}

.btn-link:hover {
  text-decoration: none;
}


@media (max-width: 767px) {
  .back-btn a {
    font-size: 14px;
    line-height: 17px;
  }

  .back-btn a .material-icons {
    font-size: 18px !important;
    padding-top: 7px !important;
  }
  .mobile-view {
    display: block;
  }
  .web-view {
    display: none;
  }
  .d-none-mob {
    display: none;
  }
  
  .top-back-btn .back-text {
    display: none;
  }
  .thankyou-bar-graph {
    border: none;;
  }
  .thankyou-page {
    padding: 0;
  }
  .lazy {
    margin: 0 !important;
  }
  .no-margin-mobile {
    margin: 0 !important;
  }
}

@media (min-width: 767px) {
  .mobile-view {
    display: none;
  }
  .web-view {
    display: flex;
  }
  .d-none-mob {
    display: inherit;
  }
  .top-back-btn{
    top: 30px;
    left: 35px;
  }
  .thankyou-bar-graph {
    border-left: 1px dashed #007bff;
  }
  .thankyou-page {
    padding: 0 0 0 0 !important;
  }
  .lazy {
    margin-bottom: 3rem !important;
  }
  .no-margin-mobile {
    margin-top: 3rem !important;
  }
}

.pb-7 {
  padding-bottom: 7rem !important;
}