<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="../../css/common/back-btn.css">
<button class="btn btn-link p-0 back-btn">
    <a href="<%= url %>" class="nav-link">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 11.0013H7.14L10.77 6.64125C10.9397 6.43704 11.0214 6.17375 10.997 5.90933C10.9726 5.6449 10.8442 5.40099 10.64 5.23125C10.4358 5.06151 10.1725 4.97985 9.90808 5.00423C9.64365 5.02861 9.39974 5.15704 9.23 5.36125L4.23 11.3613C4.19636 11.409 4.16628 11.4591 4.14 11.5113C4.14 11.5613 4.14 11.5913 4.07 11.6413C4.02467 11.7559 4.00094 11.878 4 12.0013C4.00094 12.1245 4.02467 12.2466 4.07 12.3613C4.07 12.4113 4.07 12.4413 4.14 12.4913C4.16628 12.5434 4.19636 12.5935 4.23 12.6413L9.23 18.6413C9.32402 18.7541 9.44176 18.8449 9.57485 18.9071C9.70793 18.9694 9.85309 19.0015 10 19.0013C10.2337 19.0017 10.4601 18.9203 10.64 18.7713C10.7413 18.6873 10.825 18.5842 10.8863 18.4679C10.9477 18.3515 10.9855 18.2242 10.9975 18.0932C11.0096 17.9622 10.9957 17.8302 10.9567 17.7046C10.9176 17.579 10.8542 17.4623 10.77 17.3613L7.14 13.0013H19C19.2652 13.0013 19.5196 12.8959 19.7071 12.7084C19.8946 12.5208 20 12.2665 20 12.0013C20 11.736 19.8946 11.4817 19.7071 11.2941C19.5196 11.1066 19.2652 11.0013 19 11.0013Z" fill="#959595"/>
            </svg>
              <%= __('Back') %>
    </a>
</button>