<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/common/error-popup.css">
<div data-keyboard="false" data-backdrop="static" class="modal fade" id="errorPopup" tabindex="-1" role="dialog" aria-labelledby="errorPopup" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body mb-0"> 
                <div class="text-center" id="error-text"></div>
                <div class="text-center">
                    <button id="close_btn" type="button" class="btn btn-custom-primary proceed-btn" data-dismiss="modal"> <%= __('Close') %> </button>
                </div>
            </div>
        </div>
    </div>
</div> 