/* common */

#anonymous_user{
  color: #808080;
  pointer-events: none;
  cursor: no-drop !important;
}

#userNavBar.active {
  background: rgba(37, 70, 105, 1) !important;
  border-bottom: 2px solid #4dbaf7 !important;
}

/* Web Css */

#tilt_line {
  transform: rotate(20deg);
  width: 0;
  height: 20px;
  border: 1px solid #d5d5d5;
  margin-right: 10px;
  margin-top: 14px;
}

@media (min-width: 769px) {
  .font-size-lg-40 {
    font-size: 2.5rem;
  }

  .beta-version {
    position: absolute;
    bottom: 4px;
    right: 1px;
    font-size: 8px;
  }

  #locale_language_dropdown.active{
    background: rgba(0,123,255,.1);
    border-bottom: 2px solid #007bff;
  }

  #locale_language_dropdown.active>a{
    color: #007bff;
  }

  #user_profile_dropdown{
    min-width: 8rem !important;
  }

  #userNavBar .dropdown-menu {
    right: 0;
    left: auto;
  }

  .logo{
    width: 190px;
    height: 48px;
  }

  #module_header_logo{
    width: 50px;
    height: 40px;
    margin-top: 5px;
  }

  #logo_separator{
    width: 0;
    height: 46px;
    border: 1px solid #d5d5d5;
    margin-right: 10px;
  }
}

/*  Ipad */
@media (max-width: 768px) {
  .beta-version {
    position: absolute;
    bottom: -4px;
    right: 1px;
    font-size: 8px;
  }

  #userDropDown{
    position: absolute;
    top: 5px;
    right: 20px;
  }

  #userNavBar .dropdown-menu {
    position: absolute !important;
    margin-left: -140% !important;
  }

  .navbar-toggler {
    padding: 0 !important;
    font-size: 1rem !important;
    border: 0 !important;
  }

  #bhashadaan_logo .font-size-lg-40{
    font-size: 20px;
  }
}


/* Mobile Css */

@media (max-width: 767px) {
  .font-size-lg-40 {
    font-size: 1.5rem;
  }

  .logo{
    width: 150px;
    height: 48px;
  }

  #module_header_logo{
    width: 50px;
    height: 40px;
    margin-top: 5px;
  }

  #userDropDown{
    position: absolute;
    top: 10px;
    right: 20px;
  }

  #userNavBar .dropdown-menu {
    position: absolute !important;
    margin-left: -140% !important;
  }

  .navbar-toggler {
    padding: 0 !important;
    font-size: 1rem !important;
    border: 0 !important;
  }

  #bhasini_logo img{
    width: 50px;
    height: 36px;
  }
}

@media (max-width: 320px) {
  #userDropDown{
    top: 0;
  }

  #bhashadaan_logo .font-size-lg-40{
    font-size: 16px;
  }
}

.header-fixed {
  position: fixed;
  width: 100%; 
  z-index: 9;
}