/* common */

#anonymous_user{
  color: #808080;
  pointer-events: none;
  cursor: no-drop !important;
}

#userNavBar.active {
  background: rgba(159, 200, 255, 0.39) !important;
  border-bottom: 2px solid #142745 !important;
}


/* Web Css */

#tilt_line {
  transform: rotate(20deg);
  width: 0;
  height: 20px;
  border: 1px solid #d5d5d5;
  margin-right: 10px;
  margin-top: 14px;
}

@media (min-width: 769px) {

  #header-nav-bar .dropdown-item{
    height: 40px;
  }
  #userNavBar {
    height: 65px;
  }

  #user_profile_dropdown {
    width: 175px;
  }

  #locale_language_dropdown .dropdown-menu {
    min-width: 143px !important;
  }
  .font-size-lg-40 {
    font-size: 2rem;
  }

  .beta-version {
    position: absolute;
    bottom: 0;
    right: 1px;
    font-size: 8px;
  }

  #locale_language_dropdown.active{
    background: rgba(0,123,255,.1);
    border-bottom: 2px solid #0f2749;
  }

  #locale_language_dropdown.active>a{
    color:#0f2749 !important;
  }
  #userNavBar .dropdown-menu {
    right: 0;
    left: auto;
  }

  .logo{
    width: 190px;
    height: 48px;
  }

  #module_header_logo{
    width: 50px;
    height: 40px;
    margin-top: 5px;
  }

  #logo_separator{
    width: .5px;
    height: 46px;
    margin-right: 12px;
    background: #000000;
    opacity: 10%;
  }
}

/*  Ipad */
@media (max-width: 768px) {
  .beta-version {
    position: absolute;
    bottom: -4px;
    right: 1px;
    font-size: 8px;
  }

  #userDropDown{
    position: absolute;
    top: 5px;
    right: 20px;
  }

  #userNavBar .dropdown-menu {
    position: absolute !important;
    margin-left: -140% !important;
  }

  .navbar-toggler {
    padding: 0 !important;
    font-size: 1rem !important;
    border: 0 !important;
  }

  #bhashadaan_logo .font-size-lg-40{
    font-size: 18px;
  }
}


/* Mobile Css */

@media (max-width: 767px) {
  .header-logo-size {
    height: 56px;
  }
  .font-size-lg-40 {
    font-size: 1.5rem;
  }

  .logo{
    width: 150px;
    height: 48px;
  }

  #module_header_logo{
    width: 50px;
    height: 40px;
    margin-top: 5px;
  }

  #userDropDown{
    position: absolute;
    top: 10px;
    right: 20px;
  }

  #userNavBar .dropdown-menu {
    position: absolute !important;
    margin-left: -140% !important;
  }

  .navbar-toggler {
    padding: 0 !important;
    font-size: 1rem !important;
    border: 0 !important;
  }

  #bhasini_logo img{
    width: 100px;
    height: 36px;
  }
}

@media (max-width: 320px) {
  #userDropDown{
    top: 0;
  }

  #bhashadaan_logo .font-size-lg-40{
    font-size: 16px;
  }
}

.header-fixed {
  position: fixed;
  width: 100%; 
  z-index: 9;
}


.dropdown-toggle:after {
  vertical-align: 0.1em !important;
}

#header-nav-bar  .dropdown-item:focus, .dropdown-item:hover {
  background-color: rgba(159,200,255,.39) !important;
}
