/* common */

#anonymous_user{
  color: #808080;
  pointer-events: none;
  cursor: no-drop !important;
}

/* Web Css */

#tilt_line {
  transform: rotate(20deg);
  width: 0;
  height: 20px;
  border: 1px solid #d5d5d5;
  margin-right: 10px;
  margin-top: 14px;
}

@media (min-width: 768px) {

  #header-nav-bar .dropdown-item{
    height: 40px;
  }

  #user_profile_dropdown {
    width: 175px;
  }

  #locale_language_dropdown .dropdown-menu {
    min-width: 143px !important;
  }
  .font-size-lg-40 {
    font-size: 2rem;
  }

  .beta-version {
    position: absolute;
    bottom: 0;
    right: 1px;
    font-size: 8px;
  }

  #locale_language_dropdown.active{
    background: rgba(0,123,255,.1);
    border-bottom: 2px solid #0f2749;
  }

  #locale_language_dropdown.active>a{
    color:#0f2749 !important;
  }
  #userNavBar .dropdown-menu {
    right: 0;
    left: auto;
  }

  .logo{
    width: 190px;
    height: 48px;
  }

  #module_header_logo{
    width: 50px;
    height: 40px;
    margin-top: 5px;
  }

}

/*  Ipad */
@media (max-width: 700px) {
  .beta-version {
    position: absolute;
    bottom: -6px;
    right: 1px;
    font-size: 8px;
  }

  #userNavBar .dropdown-menu {
    position: absolute !important;
    margin-left: -140% !important;
    font-size: 14px !important;
  }

  .navbar-toggler {
    font-size: 1rem !important;
    border: 0 !important;
  }
}


/* Mobile Css */

@media (max-width: 767px) {
  #navbarSupportedContent {
    font-size: 14px !important;
  }
  .header-logo-size {
    height: 56px;
  }
  .font-size-lg-40 {
    font-size: 1.5rem;
  }

  .logo{
    width: 150px;
    height: 48px;
  }

  #module_header_logo{
    width: 50px;
    height: 40px;
    margin-top: 5px;
  }


  #userNavBar .dropdown-menu {
    position: absolute !important;
    margin-left: -222% !important;
  }

  .navbar-toggler {
    font-size: 1rem !important;
    border: 0 !important;
  }

  #brand_logo .mobile-logo {
    width: 48px !important;
    height: 48px !important;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  #title_logo .font-size-lg-40{
    font-size: 18px;
  }
}

@media (max-width: 575px){
  #title_logo .font-size-lg-40{
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  #title_logo .font-size-lg-40{
    font-size: 16px;
  }
}

.header-fixed {
  position: fixed;
  width: 100%; 
  z-index: 9;
}


.dropdown-toggle:after {
  vertical-align: 0.1em !important;
  margin-left: 0;
}

#header-nav-bar  .dropdown-item:focus, .dropdown-item:hover {
  background-color: rgba(159,200,255,.39) !important;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.nav-right {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 56px;
}

.locale-selector, .user-options {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 1199px) {
  .locale-selector .language-text {
    display: none;
  }
  .user-options .nav-username-text {
    display: none;
  }
}

.locale-selector .nav-link, .user-options .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 56px;
}

.locale-selector .module-item.active {
  background: none !important;
  border-bottom: none !important;
}

.locale-selector li, .user-options li {
  height: 100%;
  display: flex;
  align-items: center;
}

.localisation-dropdown, .user-profile-dropdown {
  top: 56px !important;
  transform: none !important;
  right: 0 !important;
  left: auto !important;
  margin: 0;
}

.mobile-nav {
  position: absolute;
  top: 56px;
  width: 100%;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .mobile-nav {
    position: static;
    width: auto;
  }

  .localisation-dropdown, .user-profile-dropdown {
    top: 65px !important;
  }

  .nav-right {
    height: 65px;
  }

  .locale-selector .nav-link, .user-options .nav-link {
    width: 65px;
  }
}

@media (min-width: 992px) {
  #userNavBar.active {
    background: rgba(159, 200, 255, 0.39) !important;
    border-bottom: 2px solid #142745 !important;
  }

  .locale-selector .module-item.active {
    background: rgba(159,200,255,.39) !important;
    border-bottom: 2px solid #0f2749 !important;
  }
}

@media (min-width: 1200px) {
  #logo_separator{
    width: .5px;
    height: 46px;
    margin-right: 12px;
    background: #000000;
    opacity: 10%;
  }

  .locale-selector .nav-link, .user-options .nav-link {
    width: auto;
  }
}
