<label class="d-none" id="edit-symbol-error" style="color:#f44b4b;font-style:italic;font-size:16px"><%= __('Special characters are not allowed')%></label>
<label class="d-none" id="edit-noText-error" style="color:#f44b4b;font-style:italic;font-size:16px"><%= __('Input field can not be empty')%></label>
<label class="d-none" id="edit-number-error" style="color:#f44b4b;font-style:italic;font-size:16px">Numbers are not allowed</label>
<label class="d-none" id="edit-language-error" style="color:#f44b4b;font-style:italic;font-size:16px"><%= __('Please type in your chosen language')%></label>
<label class="d-none" id="edit-auto-validation-error" style="color:#ef8537;font-style:italic;font-size:16px">We feel the text you entered doesn't match the original text, are you sure about your edit</label>