#feedback_button{
    color: #007BFF;
    width: 60px;
    height: 60px;
}

.float{
	position:fixed;
	bottom:55px;
	right:26px;
	background-color:#FFFFFF;
	color:#FFF;
	border-radius:50px;
	border: 1px solid rgba(0, 123, 255, 0.2);
	text-align:center;
	box-sizing: border-box;
	box-shadow: #007BFF;
}

.my-float{
	left: 8.33%;
	right: 25%;
	top: 25%;
	bottom: 9.31%;
}

#feedback_button:hover {
	background-color: #c5dffb;
}

.custom-modal {
	max-width: 700px;
	max-height: 867px;
}

.label-color-feedback {
	color: #494A4A !important;
}

.submit-btn-feedback {
	color: #FFFFFF;
	background: #007BFF;
	border: 1px solid #007BFF;
	box-sizing: border-box;
	border-radius: 48px;
	width: 160px;
	height: 48px;
}
.submit-btn-feedback:disabled{
	background-color: #D7D7D7;
	border: none;
	font-weight: 700;
}

.opinion input[type="radio"] {
    display: none;
}
.opinion label {
	cursor: pointer;
}

label span {
	font-family: Lato;
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
	color: #959595;
	margin-left: 3px;
}

label .required {
	color: #C35757;
}

#feedback_close_btn, #feedback_thanku_close_btn {
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 2.5rem;
    padding: 0;
}