#feedback_button{
  color: #007bff;
  width: 60px;
  height: 60px;
}

.float{
  position:fixed;
  bottom:24px;
  right:24px;
  background-color:#ffffff;
  color:#ffffff;
  border-radius:50px;
  text-align:center;
  box-sizing: border-box;
  box-shadow: #007bff;
  filter: drop-shadow(0 4px 12px rgba(15, 39, 73, 0.32));
}

#modal_feeback.modal-dialog, #modal_feeback  .feedbacks {
  max-width: 600px;
  max-height: 670px;
}

.paragraph {
  padding-bottom: 1.25rem;
}


#modal_feeback .modal-content{
  border-radius: 12px;
  border: 1px solid #0f2749;
}

.my-float{
  left: 8.33%;
  right: 25%;
  top: 25%;
  bottom: 9.31%;
}

.submit-btn-feedback {
  color: #ffffff;
  background: #007bff;
  border: 1px solid #007bff;
  box-sizing: border-box;
  border-radius: 48px;
  width: 160px;
  height: 48px;
}


.opinion input[type='radio'] {
  display: none;
}
.opinion label {
  cursor: pointer;
  border-radius: 50%;
}

.opinion label svg {
  border-radius: 50%;
}

#feedback_modal .modal-body label span {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  margin-left: 3px;
}

label .required {
  color: #c35757 !important;
}

#feedback_close_btn, #feedback_thanku_close_btn {
  position: absolute;
  right: 16px;
  top: 0;
  font-size: 30px;
  padding: 0;
}

#very_sad_label:hover {
  -webkit-box-shadow: 0 4px 12px rgba(227, 6, 6, 0.5);
  -moz-box-shadow:  0 4px 12px rgba(227, 6, 6, 0.5);
  box-shadow: 0 4px 12px rgba(227, 6, 6, 0.5);	
}

#sad_label:hover {
  -webkit-box-shadow: 0 4px 12px rgba(234, 145, 63, 0.5);
  -moz-box-shadow:  0 4px 12px rgba(234, 145, 63, 0.5);
  box-shadow: 0 4px 12px rgba(234, 145, 63, 0.5);
}

#neutral_label:hover {
  -webkit-box-shadow: 0 4px 12px rgba(0, 123, 255, 0.5);
  -moz-box-shadow:  0 4px 12px rgba(0, 123, 255, 0.5);
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.5);
}
#happy_label:hover {
  -webkit-box-shadow: 0 4px 12px rgba(78, 215, 56, 0.5);
  -moz-box-shadow:  0 4px 12px rgba(78, 215, 56, 0.5);
  box-shadow: 0 4px 12px rgba(78, 215, 56, 0.5);
}

#very_happy_label:hover{
  -webkit-box-shadow: 0 4px 12px rgba(42, 137, 8, 0.5);
  -moz-box-shadow:  0 4px 12px rgba(42, 137, 8, 0.5);
  box-shadow: 0 4px 12px rgba(42, 137, 8, 0.5);
}

#very_sad-svg {
  background-color: #fce6e6;
	
}

#sad-svg {
  background-color: #fdf4ec;
}

#neutral-svg {
  background-color: #e6f2ff;
}
#happy-svg{
  background-color: #edfbeb;
}

#very-happy-svg{
  background-color: #dfedda;
}

#feedback_modal .form-check-inline .form-check-input {
  margin-right: 0.75rem;
}
#feedback_modal .form-row:not(.opinion) .form-check-inline {
  margin-right: 2.5rem;
}

@media (max-width: 700px) {
  #feedback_close_btn, #feedback_thanku_close_btn{
    right: 16px;
    top: 5px !important;
    font-size: 20px !important;
  }
  .paragraph {
    font-size: 12px !important;
  }
  .float{
    position:fixed;
    right : 20px;
    bottom : 20px;
    padding: 9px;
  }
  #modal_feeback .btn-custom-primary {
    height: 44px !important;
    min-width: 290px !important;
    max-width: 290px !important;
  }
  #feedback_button{
    height: 48px;
    width: 48px;
  }
  #feedback_modal .modal-body label span {
    font-size: 12px !important;
  }
  .my-float{
    height: 28px;
    width: 28px;
  }
  #modal_feeback .modal-body {
    max-height: 410px;
    overflow: auto;
  }
  #modal_feeback .modal-title {
    font-size: 20px !important;
  }
  #modal_feeback label,
  #modal_feeback input,
  #modal_feeback select{
    font-size: 14px !important;
  }
  .success-feedback {
    font-size: 14px;
  }
  .thanks-feedback {
    font-size: 14px;
  }
}

@media (min-width: 767px) {
  #feedback_thanku_modal .modal-dialog {
    max-width: 400px !important;
  }
  #modal_feeback #feedback_close_btn{
    right:25px;
    top:5px;
    font-size: 30px !important;
  }
  #feedback_modal .modal-title{
    font-size: 28px !important;
    line-height: 38px;
  }
  #modal_feeback .btn-custom-primary {
    height: 48px !important;
    width: 240px !important;
  }

  .success-feedback {
    font-size: 16px;
  }

  .thanks-feedback {
    font-size: 16px;
  }

  #modal_feeback .modal-body  {
    height: 475px;
    overflow: auto;
  }
}

#feedback_close_btn {
  box-shadow: none !important;
}

.text-primary-muted {
  color: #0f2749;
  opacity: 0.4;
}