<div class="col-12 col-lg-5 mb-3 text-center chart age-group-chart d-none p-4">
    <div class="text-left px-3 pb-3">
        <%= __('Age Group Distribution') %>
    </div>
    <div id="age-group-chart" class="h-100"></div>
</div>