<link rel="stylesheet" type="text/css" href="../../css/common/recorder.css">

<div class="col-md-1 col-2 my-auto">
  <div id="recording-sign" class="recorder-container ml-auto align-middle d-none">
    <div class="outer"></div>
    <div class="outer-2"></div>
    <div class="icon-microphone"><i class="material-icons md-48">mic</i></div>
  </div>
</div>
<div class="col-lg-7 col-8 text-center">
  <canvas id="visualizer"></canvas>
</div>
