@import '../../styles/mixins';

.bg {
  @include image-path('ocr_image_bg.svg', 'repeat top center');
  height: 7.5rem;
}

.close {
  right: 0;
  top: -24px;
  z-index: 1;
}

.expandText {
  height: 20px;
}
