<div class="row justify-content-center mb-3 mt-lg-5 mt-md-5 mt-sm-1" id="progress-row">
    <div class="col-10 col-sm-8 col-lg-8 p-0" style="max-width:800px">
            <span class="progress-average-metric font-weight-light">
                <span id="currentAverage">25%</span> of <span id="contributionLanguage5"></span>&nbsp<span id="thankyou-initiative"><%- module%> India</span> Target Achieved
            </span>
        <span class="float-right progress-metric"><span class="" id="currentSentenceLbl">25</span>/<span class="" id="totalSentencesLbl">100</span> Hours</span>
        <div class="progress mt-1">
            <div class="progress-bar progress-bar-animated" id="progress_bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10" style="width:.5%"></div>
        </div>
    </div>
</div>