<link rel="preload" as="style" onload='this.onload=null,this.rel="stylesheet"' type="text/css" href="/css/common/progressBar.css">
<div class="progress-bar-loader col-12 text-center">
    <span class="spinner"></span>
</div>
<div id="progress-bar-content" class="d-none">
    <div class="row align-items-center">
        <span class="progress-average-metric font-weight-light col-lg-8 col-md-8 col-12 pr-0">
            <%- progressBarStats %>
        </span>
    </div>
    <div class="progress my-1">
        <div class="progress-bar progress-bar-animated" id="progress_bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:.5%"></div>
    </div>
    <div class="row">
    <span id="contribution-made" class="progress-metric col-12 text-right"><%= __(`<contribution-done>/<contribution-goal> ${text}`) %></span>
    </div>
</div>