.radio label {
  cursor: pointer;
  line-height: 1.375rem;
}

.chartLabel {
  padding-left: 20px;
  position: relative;

  &::before {
    border-radius: 50%;
    bottom: 0;
    content: '';
    height: 12px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 12px;
  }
}

.chartLabelOrange::before {
  background-color: var(--strong-warning-color);
}

.chartLabelYellow::before {
  background-color: var(--warning-color);
}

.chartContainer {
  height: 20rem;

  @include media-breakpoint-up(md) {
    height: 20rem;
  }
}
