.root {
  background: linear-gradient(180.52deg,
  #ffbe58 -33.42%,
  #ffba3f -19.59%,
  #ffb44f -5.75%,
  #ffea9c 5.15%,
  #fff 19.03%,
  #fff 81.54%,
  #eaf6e0 87.7%,
  #99e090 99.7%,
  #00ba06 118.97%);
}

.topBg {
  background: url('/images/orange_bg.svg') no-repeat top center;
}

.bottomBg {
  background: url('/images/green_bg.svg') no-repeat bottom center;
}
