.legend {
  height: 1.25rem;
}

.legendsBG0 {
  background-color: #cdd8f6;
}

.legendsBG1 {
  background-color: #92a8e8;
}

.legendsBG2 {
  background-color: #6b85ce;
}

.legendsBG3 {
  background-color: #4061bf;
}
