.legendsBG0 {
  background-color: #cdd8f6;
  height: 50px;
}
.legendsBG1 {
  background-color: #92a8e8;
  height: 50px;
}
.legendsBG2 {
  background-color: #6b85ce;
  height: 50px;
}
.legendsBG3 {
  background-color: #4061bf;
  height: 50px;
}
