.legendsBG0 {
  height: 50px;
  background-color: #cdd8f6;
}
.legendsBG1 {
  height: 50px;
  background-color: #92a8e8;
}
.legendsBG2 {
  height: 50px;
  background-color: #6b85ce;
}
.legendsBG3 {
  height: 50px;
  background-color: #4061bf;
}
