.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3.25rem;
  padding: 2.5rem 0;
}

.yellowText {
  color: var(--text-yellow);
}

.heroPrimaryHeading {
  font-family: Rowdies, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}

.heroSecondaryHeading {
  font-size: 2rem;
  line-height: 2.375rem;
  margin-bottom: 0;
  margin-top: 1.75rem;
}

.heroText {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0;
  margin-top: 1.25rem;
}
