.root {
  border-radius: 12px;
  box-shadow: 0 4px 16px 4px rgba(0, 123, 255, 0.2);
  max-width: 64rem;
}

.medal {
  @include media-breakpoint-up(md) {
    height: 3.25rem;
    width: 2.5rem;
  }
}

.upcomingBadge {
  opacity: 0.8;
}

.otherBadges {
  opacity: 0.4;
}
