.link {
  font-family: Rowdies, 'Helvetica Neue', Helvetica, Arial, sans-serif;

  &:global(.active) {
    color: var(--primary-color);
  }
}

.root {
  position: relative;
}

.activeLink {
  position: relative;
  background-color: var(--secondary-color);

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
  }
}
