.initiativeHeaderImg {
  width: 5rem;

  @include media-breakpoint-up(md) {
    width: 6.875rem;
  }
}

.initiativeHeaderText {
  font-size: 0.875rem;
  line-height: 1.25rem;
  max-width: 16.25rem;

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
    line-height: 1.75rem;
    max-width: none;
  }
}
