<div class="row no-data-found justify-content-center d-none" id="no-data-found">
    <div class="col-12 col-md-12 col-lg-8">
        <div class="row d-flex justify-content-center">
            <div class="col-11 col-md-9 col-lg-9 no-data-found-text"><span>
                                <%- __('We do not have any data for this language, would you like to contribute for it?') %>
                            </span></div>
            <div class="col-11 col-md-3 col-lg-3 text-center contribute-now d-flex align-items-center justify-content-center" id="contribute-now" data-toggle="modal" data-target="#userModal">
                <%= __('Contribute Now') %>
            </div>
        </div>
    </div>
</div>