.highlight {
  color: #ffcc35;
}

.tabs {
  background-color: var(--light-color);
  flex-wrap: nowrap;
  height: 4rem;
  -ms-overflow-style: none; /* IE and Edge */
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */

  li {
    flex: 1;
    height: 100%;
  }
}

.tabLink {
  width: max-content;

  @include media-breakpoint-up(md) {
    width: 100%;
  }

  &:global(.active)::before {
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
  }
}
