<div id="indiaMapChart" style="width:100%"></div>
<div id="legendDiv" class="justify-content-evenly mb-5 d-none">
    <div id="quarter" class="quarter">
        <div class="legend-val">0 - 1hr</div>
    </div>
    <div id="half" class="half">
        <div class="legend-val">1 - 2hrs</div>
    </div>
    <div id="threeQuarter" class="threeQuarter">
        <div class="legend-val">2 - 4hrs</div>
    </div>
    <div id="full" class="full">
        <div class="legend-val">4+ hrs</div>
    </div>
</div>
