* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

body {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.logo-text:hover {
  text-decoration: none;
}

.version-beta {
  font-size: 14px;
  line-height: 17px;
  margin-left: 24px;
  border: 1px solid #343A40;
  border-radius: 4px;
  padding: 6px 12px;
}

.report-btn-container button{
  border: 1px solid #959595;
  color: #959595;
  margin-right: 1rem;
  min-width: 107px;
}

#report_btn svg {
  margin-right: 5px;
  margin-top: -2px;
}

#report_close_btn, #report_sentence_thanks_close_id {
  position: absolute;
  right: 1rem;
  top: 0rem;
  font-size: 2.5rem;
  padding: 0;
}

.other-reason {
  resize: none;
  border-radius: 8px;
  background: #F2F3F5;
  border: 1px solid #F2F3F5;
}

.option-text {
  padding-left: 1.25rem;
  font-size: 14px;
}

.fs-14 {
  font-size: 14px;
}


.tour-tour {
  border-radius: 20px;
  padding: 24px;
}

.tour-backdrop {
  position: fixed;
}

.tour-tour .popover-header{
  display: none;
}

.tour-tour .popover-body {
  padding: 40px;
  font-size: 1rem;
  width: 375px;
  text-align: center;
}

.tour-tour .popover-body .progress {
  display: none;
}

@media screen and (max-width: 767px) {
  #report_btn {
    margin-right: 0;
    margin-left: 1rem;
  }
  .report-btn-container {
    margin-top: 1rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
  }
  .tour-tour {
    width: 95%;
    left: 1rem;
  }
 
}

.px-16{
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.dropdown{
  cursor: pointer;
}
  
.module-item.active {
  background: rgba(0, 123, 255, 0.1);
  border-bottom: 2px solid#007BFF;
}

.module-item.active > a {
  color: #007BFF !important;
}


.validate-disabled {
  opacity: 0.6;
  cursor: no-drop;
}

.validate-disabled #left_container,
.validate-disabled #right_container {
  pointer-events: none;
}


.validate-disabled #warning-msg {
  display: block !important;
}

.cont-validate-disabled {
  opacity: 0.6;
  cursor: no-drop;
}

.cont-validate-disabled #left_container,
.cont-validate-disabled #right_container {
  pointer-events: none;
}

.cont-validate-disabled #cont-warning-msg {
  display: block !important;
}



  @media (min-width: 767px) {
    #cont-warning-msg {
      display: none;
      top:25px;
      left:7%;
      font-style:italic;
      border: 1px solid #42B2C6;
      width:89%;
      padding:8px 15px;
      height:44px;
      border-radius:12px;
      background:rgba(66, 178, 198, 0.1);
      color: #42B2C6;;
    }


#warning-msg {
  display: none;
  top:25px;
  left:7%;
  font-style:italic;
  border:1px solid #4d82f7;
  width:89%;
  padding:8px 15px;
  height:44px;
  border-radius:12px;
  background:rgba(77,130,247,.1);
  color: #4D82F7;;
}
.footer-links {
  margin-left: 3rem !important;
}
}

  @media (max-width: 767px) {

    .footer-links {
      margin-left: 0 !important;
    }

    #cont-warning-msg {
      display: none;
      top:5px;
      left:7%;
      font-style:italic;
      border: 1px solid #42B2C6;
      width:95%;
      padding:8px 15px;
      height:38px;
      border-radius:12px;
      background:rgba(66, 178, 198, 0.1);
      color: #42B2C6;;
    }


#warning-msg {
  display: none;
  top:5px;
  left:7%;
  font-style:italic;
  border:1px solid #4d82f7;
  width:95%;
  padding:8px 15px;
  height:38px;
  border-radius:12px;
  background:rgba(77,130,247,.1);
  color: #4D82F7;;
}

#module_name { 
  margin-left: 0 !important;
}


}