* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

body {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.font-family-Rowdies{
  font-family: Rowdies, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
}

.logo-text:hover {
  text-decoration: none;
}

.version-beta {
  font-size: 14px;
  line-height: 17px;
  margin-left: 24px;
  border: 1px solid #343a40;
  border-radius: 4px;
  padding: 6px 12px;
}

.vertical-line {
  background: #000000;
  height: 50px;
  opacity: 10%;
  width: 0.5px;
  margin-right: 15px;
}

.report-btn-container button{
  color: #666666;
  margin-right: 1rem;
  background: #ffffff;
  border-radius: 4px;
  min-height: 32px;
}

#report_btn svg {
  margin-right: 5px;
  margin-top: -2px;
}

#report_close_btn, #report_sentence_thanks_close_id {
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 2.5rem;
  padding: 0;
}

.other-reason {
  resize: none;
  border-radius: 8px;
  background: #f2f3f5;
  border: 1px solid #f2f3f5;
}

.option-text {
  padding-left: 1.25rem;
  font-size: 14px;
}

.fs-14 {
  font-size: 14px;
}


.tour-tour {
  border-radius: 20px;
  padding: 24px;
}

.tour-backdrop {
  position: fixed;
}

.tour-tour .popover-header {
  display: none;
}

.tour-tour .popover-body {
  padding: 40px;
  font-size: 1rem;
  width: 375px;
  text-align: center;
}

.tour-tour .popover-body .progress {
  display: none;
}

@media screen and (max-width: 767px) {
  #report_btn {
    margin-right: 0;
    margin-left: 1rem;
  }
  .padding-top-65 {
    padding-top: 56px !important;
  }

  .option-text {
    font-size: 12px;
  }

  .xs-radio-label {
    font-size: 14px;
  }

  .report_para {
    font-size: 14px;
  }

  #report_sentence_modal .modal-title {
    font-size: 20px;
  }

  .tour-tour {
    width: 95%;
    left: 1rem;
  }
  .vertical-line {
    margin-right: 8px !important;
    height: 24px !important;
  }
}

.px-16 {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.dropdown {
  cursor: pointer;
}


.module-item.active > a {
  color: #ffffff !important;
  opacity: 1 !important;
}

.validate-disabled {
  background-color: rgb(230 230 230 / 50%);
  cursor: no-drop !important;
  box-shadow:  rgba(67, 192, 215, 0.5) 0 8px 0, rgb(0 0 0 / 10%) 0 0 32px !important;
  border: 1px solid rgba(67 ,192, 215, 0.5) !important;
}

.validate-disabled #left_container,
.validate-disabled #right_container {
  pointer-events: none;
  opacity: 0.6;
}


.validate-disabled #warning-msg {
  display: block !important;
}

.cont-validate-disabled {
  background-color: rgb(230 230 230 / 50%);
  cursor: no-drop !important;
  box-shadow:  rgba(67, 192, 215, 0.5) 0 8px 0, rgb(0 0 0 / 10%) 0 0 32px !important;
  border: 1px solid rgba(67 ,192, 215, 0.5) !important;
}

.cont-validate-disabled #left_container,
.cont-validate-disabled #right_container {
  pointer-events: none;
  opacity: 0.6;
}

.cont-validate-disabled #cont-warning-msg {
  display: block !important;
}


@media (min-width: 962px) {
  #cont-warning-msg {
    display: none;
    top: 15px;
    left: 7%;
    font-style: italic;
    width: 92%;
    padding: 9px 15px;
    border-radius: 12px;
  }


  #warning-msg {
    display: none;
    top: 15px;
    left: 7%;
    font-style: italic;
    width: 92%;
    padding: 9px 15px;
    border-radius: 12px;
    background: rgba(77, 130, 247, .1);
  }
}

@media (min-width: 1400px) {
  #cont-warning-msg {
    display: none;
    top: 15px;
    left: 6%;
    font-style: italic;
    width: 92%;
    padding: 9px 15px;
    border-radius: 12px;
  }

  #warning-msg {
    display: none;
    top: 15px;
    left: 6%;
    font-style: italic;
    width: 92%;
    padding: 9px 15px;
    border-radius: 12px;
    background: rgba(77, 130, 247, .1);
  }
}

@media (min-width: 700px){
  .padding-top-65 {
    padding-top: 68px !important;
  }
  #report_sentence_modal  .modal-body {
    height: 410px;
    overflow: auto;
  }
}

@media (min-width: 768px) and (max-width: 961px) {
  .flex-direction-row {
    flex-direction: row !important;
  }


  #cont-warning-msg {
    display: none;
    top: 5px;
    left: 10%;
    font-style: italic;
    width: 89%;
    padding: 3px 10px;
    border-radius: 12px;
  }


  #warning-msg {
    display: none;
    top: 5px;
    left: 10%;
    font-style: italic;
    width: 89%;
    padding: 3px 10px;
    border-radius: 12px;
    background: rgba(77, 130, 247, .1);
  }

  .d-inherit {
    display: inherit !important;
  }

  .flex-flow-nowrap {
    flex-flow: nowrap;
  }
}

@media (max-width: 767px) {
  #header-nav-bar{
    min-height: 56px;
  }

  .footer-links {
    margin-left: 0 !important;
  }

  .flex-direction-row {
    flex-direction: row !important;
  }

  .d-inherit {
    display: inherit !important;
  }

  #cont-warning-msg {
    display: none;
    top: 8px;
    left: 7%;
    font-style: italic;
    width: 95%;
    padding: 8px 15px;
    min-height: 38px;
    border-radius: 12px;
  }

  #con-warning-msg p {
    font-size: 12px;
    margin-top: 4px;
  }


  #warning-msg {
    display: none;
    top: 8px;
    left: 7%;
    font-style: italic;
    width: 95%;
    padding: 8px 15px;
    min-height: 38px;
    border-radius: 12px;
    background: rgba(77, 130, 247, .1);
  }

  #warning-msg p {
    font-size: 12px;
    margin-top: 4px;
  }

  #module_name {
    margin-left: 0 !important;
  }

  @media (max-width: 600px) {
    .d-sm-none {
      display: none;
    }
  }
}

.border-50 {
  border-radius: 50px;
}



.padding-top-115 {
  padding-top: 115px !important;
}

.modal.show ~ .modal.show {
  z-index: 1043;
}

.functional-page-bg .modal.show, 
#validator-page-content .modal.show,
#content-wrapper .modal.show {
  z-index: 1045;
}

.modal-backdrop.show  + .modal-backdrop.show {
  z-index: 1045;
}

.modal-backdrop.show {
  z-index: 1043;
}