#keyboardBox {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    top: 450px;
    left: 500px
}

#keyboardBoxHeader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #ececec
}

#keyboardCloseBtn {
    cursor: pointer
}

.no-data-found {
    position: fixed;
    z-index: 10;
    width: 75%;
    bottom: 0;
    padding: 1.5rem 0;
}

.no-data-found > div {
    padding: 0.5rem 2rem;
    background-color: #343A40;
    color: #fff;
    border-radius: 8px;
    box-shadow: 5px 7px 5px -2px #888;
}

.no-data-found-text {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


@media (min-width: 1024px) {
   .keyboard-layout {
       width: 560px;
   }
}


@media (max-width: 767px) {
    .keyboard-layout {
        width: 100%;
    }
    #keyboardBox {
        position: initial !important;
    }
}

@media (max-width: 1024px) {
    .keyboard-layout {
        width: 100%;
    }
    #keyboardBox {
        position: initial !important;
    }
}
